/*
    #3b469d
    #ffffff
    #333333
    #eef0f2
    #c6c7c4
*/


body {
    font-family: 'Roboto', sans-serif !important;
}

.navbar {
    border-radius: 0px;
        text-transform: uppercase;

    margin-bottom: 0px !important;
}

.navbar-header img {
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 0px;
    margin-left: 7px;
    height: 50px;
    width: auto;
}

#slider {
    background: url(Images/Sesam.png);
}
.slider-overlay {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.item {
    padding: 150px 0;
    color: #fff;
}

.carousel-indicators li {
    padding: 7px;
}
/*.carousel-indicators .active{
    width: 15px;
    height: 15px;
}*/