/*
    #3b469d
    #ffffff
    #333333
    #eef0f2
    #c6c7c4
*/

body, html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif !important;
}
h1,h2,h3,h4,h5,h6 {
    color: #FFF;
}


.navbar-header img {
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 0px;
    margin-left: 7px;
    height: 40px;
    width: auto;
}
.navbar {
    z-index: 5;
    margin-top: 20px;
}
.navbar-default {
    /*border-color: rgb(181, 185, 216);*/
}

.front-page-header {
    z-index: 0;
    margin-top: -100px;
    background-image: url("../Content/Images/Sesam.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#carousel-example-generic {
    background-color: rgba(0,0,0,0.5);   
}
.carousel-indicators li{
    width: 17px !important;
    height: 17px !important;
}
.front-page-header .glyphicon {
    font-size: 75px !important;
    margin-bottom: 10px;
}

.item {
    padding-top: 250px;
    padding-bottom: 100px;
    margin-bottom: 50px;
    height: 100px;
}
.item p {
    margin: 2px;
    padding: 4px;
}
.item h2 {
    margin-top: 0px;
    margin-bottom: 13px;
    padding: 1px;
}
.item .btn-info {
}
/*.btn, .btn:hover {
    border-color: rgb(181, 185, 216);

}*/

.content-frontpage {
    /*background-color: #3b469d;*/
}
.well h2 {
    color: #000;
}

.navbar-default .navbar-nav>li>a {
}
.navbar-default .navbar-nav>li>a:hover {
}