/*
    #3b469d
    #ffffff
    #333333
    #eef0f2
    #c6c7c4
*/

body, html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif !important;
}



.navbar-header img {
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 0px;
    margin-left: 7px;
    height: 40px;
    width: auto;
}

.navbar {
    z-index: 5;
    margin-top: 20px;
}

.navbar-default {
    /*border-color: rgb(181, 185, 216);*/
}

@media (max-width: 1201px) and (min-width: 769px) {
    .front-page-header {
        margin-top: -145px !important;
    }
}

@media (max-width: 768px) {
    .front-page-header {
        margin-top: -19px !important;
    }

    .menu-container {
        background-color: white;
        padding: 0px;
    }

    .navbar-default {
        margin-top: 0px;
    }
}


.front-page-header {
    z-index: 0;
    margin-top: -100px;
    background-image: url("../Content/Images/Sesam3.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#carousel-example-generic {
    background-color: rgba(0,0,0,0.5);
}

.carousel-indicators li {
    width: 17px !important;
    height: 17px !important;
}

.front-page-header .glyphicon {
    font-size: 75px !important;
    margin-bottom: 10px;
}

.item {
    padding-top: 350px;
    padding-bottom: 100px;
    margin-bottom: 50px;
    height: 100px;
}

    .item p {
        margin: 2px;
        padding: 4px;
    }

    .item h2 {
        color: #FFF;
        margin-top: 0px;
        margin-bottom: 13px;
        padding: 1px;
    }

    .item .fa-5x {
        font-size: 11em;
    }

    .item .fa-briefcase {
        font-size: 8em !important;
    }

.sesam-content-pic {
    padding: 1em;
    height: 170px;
}
.content-frontpage {
    padding: 30px 0px;
    background-color: #f8f8f8;
}
.content-frontpage p {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.row .fa {
    color: #127ba3;
}

.footer {
    color: #FFF;
    padding: 10px 15px;
    background-color: #40b5e3;
    border-top: 1px solid transparent;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.content-frontpage .panel {
        border-top-width: 1.5px;
}
.alert {
    margin-bottom: 0px;
}