@using System
@model Sesamit.Models.NewsPostViewModels.NewsPostAddViewModel

@{
     ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        selector: "#editor",
        mode: "textareas",
        theme: "modern",
        plugins: "textcolor colorpicker",
        toolbar: "formatselect | bold italic underline | forecolor backcolor | bullist numlist",
        content_css: "~/Content/Site.css"
    });
</script>

<section class="section-padding section-margin">
    <div class="container">

        <h2>Skriv ett nyhetsinlägg</h2>

        <form asp-action="Create" enctype="multipart/form-data">
            
            <div class="form-horizontal">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Författare</label>
                    <div class="col-md-10">
                        <input asp-for="NewsPost.Author" class="form-control" />
                        <span asp-validation-for="NewsPost.Author" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NewsPost.Date" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NewsPost.Date" class="form-control" />
                        <span asp-validation-for="NewsPost.Date" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NewsPost.Title" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NewsPost.Title" class="form-control" />
                        <span asp-validation-for="NewsPost.Title" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="FilePicture" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input type="file" accept="image/*" asp-for="FilePicture" class="form-control" />
                        <span asp-validation-for="FilePicture" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="NewsPost.Text" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NewsPost.Text" id="editor" class="form-control" />
                        <span asp-validation-for="NewsPost.Text" class="text-danger" />
                    </div>
                </div>





                @*@Html.TextBoxFor(model => model.File, new { @class = "form-control", type = "file", accept = "image/*" })*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Skapa" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
