@model dynamic

@{
    ViewBag.Title = "Sesamit";
    Layout = "../Shared/_Layout.cshtml";
}


<section class="front-page-header">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="carousel-caption">
                    @*<span class="glyphicon glyphicon-search"></span>*@
                    <i class="fa fa-question fa-5x" aria-hidden="true"></i>
                    <p>Ska du plugga ekonomi, informatik eller statistik?</p>
                    <h2>Grattis du är en Sesamit!</h2>
                    <a href="#" class="btn btn-info">Läs mer!</a>
                </div>
            </div>
            <div class="item">
                <div class="carousel-caption">

                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <h2>Håll utkik!</h2>
                    <p>
                        Vi kommer med ständiga uppdateringar till jobbmöjligheter från olika jobbaktörer.
                    </p>
                    <br />
                    <a href="#" class="btn btn-info">Läs mer!</a>
                </div>
            </div>

        </div>
    </div>

</section>
<div class="alert alert-dismissible alert-info text-center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Senaste nytt:</strong> Unionen söker studenter till extrajobb i Örebro!
</div>
<section class=" container content-frontpage">

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="">
                <div class="media">
                    <div class="media-body">
                        <h1>Vad är Sesam?</h1>
                        <p>En sektion i Örebro studentkår. Man har delat upp studenterna på Örebro Universitet i nio sektioner efter ämnesområden, och Sesam representerar studenter på institutionen Handelshögskolan. Om du läser ekonomi, informatik eller statistik hör du till Handelshögskolan, och därmed sektionen Sesam.</p>
                        <p>
                            <a class="btn btn-primary btn-lg">Läs mer här!</a>
                        </p>
                    </div>
                    <div class="media-right media-middle">
                        <img class="sesam-content-pic" src="~/Content/Images/sesamLogo-medium.png" />
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <hr />
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <i class="fa fa-clipboard fa-5x" aria-hidden="true"></i>
            <p>
                Över 500
                unika Medlemmar!
            </p>
        </div>
        <div class="col-md-2">
            <i class="fa fa-clipboard fa-5x" aria-hidden="true"></i>
            <p>
                Har en sjukt bra
                Introduktion!
            </p>
        </div>
        <div class="col-md-2">
            <i class="fa fa-clipboard fa-5x" aria-hidden="true"></i>
            <p>
                Samarbeten
                med företag
            </p>
        </div>
        <div class="col-md-2">
            <i class="fa fa-clipboard fa-5x" aria-hidden="true"></i>
            <p>
                Vi har även en
                lounge
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</section>
<footer class="footer">
    <div class="container text-center">
        <p>
            Studentsektionen-Sesam
        </p>
        <p>
            Fakultetsgatan 1
        </p>
        <p>
            70181 Örebro

        </p>
        <p>
            Kontakta oss
        </p>
    </div>
</footer>