@model dynamic

@{
    ViewBag.Title = "Sesamit";
    Layout = "../Shared/_Layout.cshtml";
}


<section class="front-page-header">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="carousel-caption">
                        <span class="glyphicon glyphicon-search"></span>
                        <p>Ska du plugga ekonomi, informatik eller statistik?</p>
                        <h2>Grattis du är en Sesamit!</h2>
                        <a href="#" class="btn btn-info">Läs mer!</a>
                </div>
            </div>
            <div class="item">
                <div class="carousel-caption">

                    <h2>Håll utkik!</h2>
                        <span class="glyphicon glyphicon-briefcase"></span>
                    <p>
                        Vi kommer med ständiga uppdateringar till jobbmöjligheter från olika jobbaktörer.
                    </p>
                    <br/>
                    <a href="#" class="btn btn-info">Läs mer!</a>
                </div>
            </div>
            @*<div class="item">
                <div class="carousel-caption">
                        <span class="glyphicon glyphicon-briefcase"></span>
                        <p>För även andra erbjudanden, följ oss på Facebook!</p>
                </div>
            </div>*@
        </div>
    </div>

</section>
<hr/>
<section class="content-frontpage">
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="well">
                <h2>heheheheh</h2>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</section>