@{
    ViewData["Title"] = "Campusmässan";
}

<header id="campusmassan-header" class="top-page-header header-responsive-fix">
    <div class="container text-center">
        <i class="fa fa-question fa-5x" aria-hidden="true"></i>
        <h1>Campusmässan</h1>
    </div>
</header>

<div class="section-campusmassan section-small-padding">
    <div class="container">

        <h2>Campusmässan</h2>
        <p >
            Campusmässan är en av Sveriges största arbetsmarknadsmässor. Mässan växer och utvecklas ideligen. Förra årets mässa besökte ca 5000 studenter som då tog tillfället i akt och träffade 125 företag. Vi i Campusmässans projektgrupp har som intention att göra allt i vår makt för att överträffa fjolårets succé.
        </p>
        
        <p>
            Som prov på detta har vi tagit steget längre och förflyttat hela mässan till Novahuset som kommer att hållas under hela två dagar, den 8-9 februari! Årets mässa är dessutom inget annat än den 18:onde upplagan och vi utlovar ett rågat schema med spännande evenemang och två huvudföreläsare.
        </p>
        <p>
            Under mässdagarna får företagen chansen att möta drivna studenter med spetskompetens samtidigt som studenterna får möta potentiella framtida arbetsgivare och inspireras till möjliga yrkesval.
        </p>
        
        <p> För mer information om campusmässan och kommande evenemang:</p>
        <p>
            Klicka här för att följa campusmässan på  <a href="" target="_blank">Facebook!</a>
        </p>
        <p>Klicka här för att komma till campusmässan på <a href="" target="_blank">Instagram!</a></p>




        @*<h1>
            Campusmässan är Örebro universitets egna arbetsmarknadsmässa och går av stapeln den 18 februari 2016.
        </h1>
        <p class="lead">
            Mässan växer och utvecklas ständigt och med rekordmånga besökare blev förra årets mässa en succé med hela 107 utställare. Årets mässa blir den 17:e i ordningen och utlovar ett fullspäckat schema med spännande aktiviteter och inspirerande föreläsningar. I år har vi även tagit steget längre då mässan kommer att smycka hela Långhuset. Det blir alltså 336 meter mässa!
        <p>

            Campusmässan ger möjligheter för både studenter och företag oavsett om det gäller praktik, extrajobb, semestervikariat, traineeprogram, ex-jobb eller längre anställningar. Företag får chansen att möta drivna studenter med spetskompetens samtidigt som studenterna får möta potentiella framtida arbetsgivare och inspireras till möjliga yrkesval.
        </p>
        <p>

            För mer information om campusmässan och kommande evenemang,
        </p>

        <p>
            Klicka 
            <a href="https://www.facebook.com/campusmassan/?fref=ts" target="_blank">här</a> för att följa campusmässan på Facebook!


        </p>*@
    </div>
</div>
