@{
    ViewData["Title"] = "Campusmässan";
}

<header id="campusmassan-header" class="top-page-header header-responsive-fix">
    <div class="container text-center">
        @*<i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>*@
        <img class="img-responsive img-center " id="img-campusmassan-header" src="../Images/headers/CM_blue.png" />

    </div>
</header>

<section class="section-campusmassan section-small-padding">
    <div class="container">
        @*<h2>Campusmässan</h2>*@
        <i class="fa fa-info-circle fa-5x fa-pull-left fa-border fa-blue" aria-hidden="true"></i>
        <p class="lead">
            Campusmässan är en av Sveriges största arbetsmarknadsmässor. Mässan växer och utvecklas ideligen. Förra årets mässa besökte ca 5000 studenter som då tog tillfället i akt och träffade 125 företag. Vi i Campusmässans projektgrupp har som intention att göra allt i vår makt för att överträffa fjolårets succé.
        </p>
        <p>
            Som prov på detta har vi tagit steget längre och förflyttat hela mässan till Novahuset som kommer att hållas under hela två dagar, den 8-9 februari! Årets mässa är dessutom inget annat än den 18:onde upplagan och vi utlovar ett rågat schema med spännande evenemang och två huvudföreläsare.
        </p>
        <p>
            Under mässdagarna får företagen chansen att möta drivna studenter med spetskompetens samtidigt som studenterna får möta potentiella framtida arbetsgivare och inspireras till möjliga yrkesval.
        </p>

        <p> För mer information om campusmässan och kommande evenemang:</p>
        <p>
            Klicka här för att följa campusmässan på <a href="" target="_blank">Facebook!</a>
        </p>
        <p>
            Klicka här för att komma till campusmässan på <a href="" target="_blank">Instagram!</a>
        </p>
    </div>
</section>
