@{
    ViewData["Title"] = "Campusmässan";
}

<header id="campusmassan-header" class="top-page-header header-responsive-fix">
    <div class="container text-center">
        @*<i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>*@
        <img class="img-responsive img-center " id="img-campusmassan-header" src="../Images/headers/CM_blue.png" />

    </div>
</header>

<section class="section-campusmassan section-small-padding">
    <div class="container">
        @*<h2>Campusmässan</h2>*@
        <i class="fa fa-info-circle fa-5x fa-pull-left fa-border fa-blue" aria-hidden="true"></i>
        <p class="lead">
            Campusmässan är en av Sveriges största arbetsmarknadsmässor. Mässan växer och utvecklas ideligen. Förra årets mässa besökte ca 5000 studenter som då tog tillfället i akt och träffade 125 företag. Vi i Campusmässans projektgrupp har som intention att göra allt i vår makt för att överträffa fjolårets succé.
        </p>
        <p>
            Som prov på detta har vi tagit steget längre och förflyttat hela mässan till Novahuset som kommer att hållas under hela två dagar, den 8-9 februari! Årets mässa är dessutom inget annat än den 18:onde upplagan och vi utlovar ett rågat schema med spännande evenemang och två huvudföreläsare.
        </p>
        <p>
            Under mässdagarna får företagen chansen att möta drivna studenter med spetskompetens samtidigt som studenterna får möta potentiella framtida arbetsgivare och inspireras till möjliga yrkesval.
        </p>

        <p> För mer information om campusmässan och kommande evenemang:</p>
        <p>
            Klicka här för att följa campusmässan på <a href="" target="_blank">Facebook!</a>
        </p>
        <p>
            Klicka här för att komma till campusmässan på <a href="" target="_blank">Instagram!</a>
        </p>
    </div>
</section>
<section class="section-campusmassan section-small-padding">
    <div class="container">
        <div class="panel panel-default panel-">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <i class="fa fa-building fa-3x fa-pull-right  fa-blue" aria-hidden="true"></i>
                <h4>Företag på plats</h4>
            </div>
            <!-- List group -->

            <div class="">
                <ul class="list-group">
                    <li class="list-group-item">
                        abroad internships
                    </li>
                    <li class="list-group-item">
                        Academic Work
                    </li>
                    <li class="list-group-item">
                        Adecco
                    </li>
                    <li class="list-group-item">
                        Alten Sverige AB
                    </li>
                    <li class="list-group-item">
                        Askersunds kommun
                    </li>
                    <li class="list-group-item">
                        Bergslagens Sparbank AB
                    </li>
                    <li class="list-group-item">
                        Bergsäker AB
                    </li>
                    <li class="list-group-item">
                        Billerudkorsnäs
                    </li>
                    <li class="list-group-item">
                        Bofors Test Center AB
                    </li>
                    <li class="list-group-item">
                        Civilekonomerna
                    </li>
                    <li class="list-group-item">
                        ELON Elkedjan Logistic AB
                    </li>
                    <li class="list-group-item">
                        Ernst &amp; Young AB
                    </li>
                    <li class="list-group-item">
                        Etteplan
                    </li>
                    <li class="list-group-item">
                        Exsitec AB
                    </li>
                    <li class="list-group-item">
                        Flex Applications
                    </li>
                    <li class="list-group-item">
                        Framtiden AB
                    </li>
                    <li class="list-group-item">
                        Graduateland
                    </li>
                    <li class="list-group-item">
                        Grant Thornton
                    </li>
                    <li class="list-group-item">
                        Headlight
                    </li>
                    <li class="list-group-item">
                        IKEA
                    </li>
                    <li class="list-group-item">
                        INTEGRA Engineering AB
                    </li>
                    <li class="list-group-item">
                        JM AB
                    </li>
                    <li class="list-group-item">
                        Kommuninvest i Sverige AB
                    </li>
                    <li class="list-group-item">
                        KPMG
                    </li>
                    <li class="list-group-item">
                        Kumla kommun
                    </li>
                    <li class="list-group-item">
                        Landstinget i Värmland
                    </li>
                    <li class="list-group-item">
                        Landstinget Sörmland
                    </li>
                    <li class="list-group-item">
                        Landstinget Västmanland
                    </li>
                    <li class="list-group-item">
                        Lekebergs Sparbank
                    </li>
                    <li class="list-group-item">
                        Lidköpings kommun
                    </li>
                    <li class="list-group-item">
                        LRF Konsult AB
                    </li>
                    <li class="list-group-item">
                        Länsförsäkringar Bergslagen
                    </li>
                    <li class="list-group-item">
                        Peab Sverige
                    </li>
                    <li class="list-group-item">
                        Prevas AB
                    </li>
                    <li class="list-group-item">
                        Ramboll Sverige AB
                    </li>
                    <li class="list-group-item">
                        Region Gävelborg
                    </li>
                    <li class="list-group-item">
                        Region Östergötland
                    </li>
                    <li class="list-group-item">
                        Runnagården, Statens
                    </li>
                    <li class="list-group-item">
                        institutionsstyrelse
                    </li>
                    <li class="list-group-item">
                        Semcon
                    </li>
                    <li class="list-group-item">
                        Sigma IT Consulting
                    </li>
                    <li class="list-group-item">
                        Skanska Sverige AB
                    </li>
                    <li class="list-group-item">
                        Skatteverket
                    </li>
                    <li class="list-group-item">
                        Skövde Kommun
                    </li>
                    <li class="list-group-item">
                        Statistiska centralbyrån
                    </li>
                    <li class="list-group-item">
                        Sweco
                    </li>
                    <li class="list-group-item">
                        Sveriges Ingenjörer
                    </li>
                    <li class="list-group-item">
                        Systemair Sverige AB
                    </li>
                    <li class="list-group-item">
                        Transportstyrelsen
                    </li>
                    <li class="list-group-item">
                        Tyrens Ab
                    </li>
                    <li class="list-group-item">
                        Unionen Student
                    </li>
                    <li class="list-group-item">
                        WSP
                    </li>
                    <li class="list-group-item">
                        Västerås stad
                    </li>
                    <li class="list-group-item">
                        Öhrlings Pricewaterhouse Coopers
                    </li>
                    <li class="list-group-item">
                        Örebro kommun
                    </li>
                    <li class="list-group-item">
                        ÖrebroBostäder AB
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>