@{
    ViewData["Title"] = "Fullmäktige och Ledamöter";
}

<header id="handlingar-header" class="top-page-header text-center">
    <div class="container text-center">
        <i class="fa fa-users fa-5x"></i>
        <h1>Fullmäktige och Ledamöter</h1>
    </div>
</header>
<section id="section-fullmaktige" class="section-small-padding">
    <div class="container">
        <div class="col-md-9">
            <h1 class="text-uppercase">ÖREBRO STUDENTKÅRS FULLMÄKTIGE</h1>
            <p>Örebro studentkårs fullmäktige är organisationens högsta beslutande organ. Enkelt översatt är fullmäktige Örebro studentkårs egen riksdag. Fullmäktiges roll är i dag att övergripande sätta riktningen för Örebro studentkår som organisation och verksamhet och ansvara över de heltidsarvoderade som väljs av fullmäktige. Varje ordinarie medlem i Örebro studentkår har rätt att skicka in punkter till fullmäktige. Fullmäktige utgörs av 41 ledamöter från varje kårsektion, ledamöterna väljs av kårsektionens medlemmar för att representera kårsektionen och föra dess talan.</p>

            <p>
                Handlingar inför fullmäktige hittar du <a asp-controller="OmSesam" asp-action="Handlingar">här</a>.
            </p>
            <p>
                Mer om fullmäktige på Örebro studentkårs <a href="http://www.orebrostudentkar.se/home/om-orebro-studentkar/fullmaktige-fum/fullmaktige/" target="_blank">hemsida</a>.
            </p>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-question fa-1x pull-right"></i>
                    <h3 class="panel-title">Frågor?</h3>
                </div>
                <div class="panel-body text-center">
                    <img height="125" width="125" class="img-circle img-responsive img-center" src="../Images/styrelse/Kavaj-Oskar.png" alt="">
                    <p class="">
                        <small>Kontakta Vice Ordförande Oskar Vejlo.</small>
                    </p>
                    <p class=""><small><a href="mailto:viceordforande@sesamit.se">viceordforande@sesamit.se</a></small></p>
                </div>
            </div>


        </div>
    </div>
</section>
<section id="">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <h1 class="text-uppercase text-center">Sesams fullmäktigeledamöter</h1>
            </div>
            <div class="row row-padding">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="col-md-4 text-center">
                        <img class="img-circle img-responsive" src="../Images/fullmaktige/julia-small.jpg" alt="">
                        <h3>Julia Berglund</h3>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="img-circle img-responsive" src="../Images/fullmaktige/simon-small.jpg" alt="">
                        <h3>Simon Ezcurra Gyllensten</h3>
                    </div>
                    <div class="col-md-4  text-center">
                        <img class="img-circle img-responsive" src="../Images/fullmaktige/jonna-small.jpg" alt="">
                        <h3>Jonna Casslind</h3>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row row-padding">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="col-md-4 text-center">
                        <img class="img-circle img-responsive" src="../Images/fullmaktige/calle-small.jpg" alt="">
                        <h3>Carl Svensson</h3>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="img-circle img-responsive" src="../Images/fullmaktige/laura-small.jpg" alt="">
                        <h3>Laura Masri</h3>
                    </div>
                    <div class="col-md-4  text-center">
                        <img class="img-circle img-responsive" src="../Images/fullmaktige/isabelle-small.png" alt="">
                        <h3>Isabelle Eriksson</h3>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="scroll-top-wrapper ">
            <span class="scroll-top-inner" title="Gå till toppen av sidan">
                <i class="fa fa-2x fa-arrow-circle-up"></i>
            </span>
        </div>
    </div>
</section>
