@{
    ViewData["Title"] = "Sektionsmöten";
}

<header id="header-sektionsmoten" class="top-page-header header-responsive-fix">
    <div class="container text-center">
        <i class="fa fa-question fa-5x" aria-hidden="true"></i>
        <h1>Sektionsmöten</h1>
    </div>
</header>

<div class="section-padding">
    <div class="container">
        <h1>
            Allmän information
        </h1>
        <p class="lead">
            Syftet med sektionsmötena är att du som medlem ska få insyn i vad vi i Sesam arbetar med, kunna vara med och påverka olika beslut och säga vad du tycker och tänker.
        <p>
            Sesam är en medlemsorganisation och styrelsens arbete utförs hela tiden med medlemmarnas intresse och nytta i fokus. Mindre beslut fattas av styrelsen som är invalda av medlemmarna Större beslut tas dock på Sektionsmöten.
            Där har du som är medlem i Sesam rösträtt och chans att vara med och påverka. Sektionsmötena hålls minst 2 ggr/termin och annonseras ut senast 2 veckor i förväg
        </p>
        @*<h2>
            Kommande sektionsmöten
        </h2>
        <p>
           Sektionsmöte hålls tisdag 9 februari kl.17:00.
        </p>
        <p>
            Sektionsmöte hålls tisdag 1 december kl.17:30.
        </p>*@
    </div>
    <div class="scroll-top-wrapper ">
        <span class="scroll-top-inner" title="Gå till toppen av sidan">
            <i class="fa fa-2x fa-arrow-circle-up"></i>
        </span>
    </div>
</div>
