@{
    ViewData["Title"] = "Sesam lounge";
}

<header class="sesamlounge-header">
    <div class="container text-center">
        <i class="fa fa-home" aria-hidden="true"></i>
        <h1>Sesam Lounge</h1>
    </div>
</header>

<div class="section-VadArSesampage">

    <div class="container">

        <div class="panel panel-default">
            <div class="panel-body">

                <div class="featurette">
                    <img class="featurette-image img-rounded img-responsive pull-right" src="~/Images/imgs/lounge.jpg" style="width: 40%; height: 40%; margin-left: 20px;">
                    <h2 class="featurette-heading">
                        Sesam Lounge
                        <span class="text-muted">vårt eget vardagsrum</span>
                    </h2>
                    <p class="lead">Vi är den enda sektionen som har ett eget vardagsrum - Sesams Lounge! Den hittar du tillsammans med vårt kontor. Här kan du som medlem komma in med ditt universitetskort. Sesam Lounge är det perfekta stället att sitta med sina vänner och ta det lugnt. Och när det är kontorstid, bjuder Sesam såklart på kaffe. Det är också en plats för mingel med företag när vi ordnar olika event, och här finns mycket information och material från våra sponsorer.</p>
                </div>

            </div>
        </div>

    </div>

</div>
