@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Om styrelsen
                <small>Trelivt att träffas!</small>
            </h1>
            <p>
                Sesam består av en styrelsen som utför arbeten som kommer att vara till nytta för dig som student. Allt från företagskontakter till lärofyllda upplevelser!
            </p>
        </div>
    </div>

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Styrelsen består av</h2>
        </div>
    </div>
    <div class="row text-center styrelse-row">
        <div class="col-md-3 ">
            <img class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/Kavaj-Jonatan.png" alt="">
            <h3>
                Jonatan Palmgren<br/>
                <small>Ordförande</small>
            </h3>
            <p>Ordförande är ansvarig för att leda sektionens styrelse. Tillsammans med vice ordförande arbetar ordförande för att utveckla Sesam och främja Örebro studentkår. Ordförande är Sesams spindel i nätet och stöttar Sesams olika projekt och utskott. Vidare är även ordförande firmatecknare i organisationen.</p>
        </div>
        <div class="col-md-3">
            <img class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/Kavaj-Oskar.png" alt="">
            <h3>
                Oskar Vejlo<br />
                <small>Vice Ordförande</small>
            </h3>
            <p>Vice ordförande är ansvarig för kontakten med Sesams externa samarbetspartners och S.E.R.O. Dessutom sitter vice ordförande som ledamot i studentkårens styrelse. Denna roll innebär också att vice ordförande håller kontakten med de andra sektionerna och har ansvaret att förmedla Örebro studentkårs vision, åsikter och verksamhetsplan till Sesam.</p>
        </div>
        <div class="col-md-3">
            <img class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/Kavaj-Hanna-L.png" alt="">
            <h3>
                Hanna Leandersson<br />
                <small>Ekonomiansvarig</small>
            </h3>
            <p>Den som är ekonomiansvarig skapar Sesams budget och sköter bokföringen under verksamhetsåret. Rollen innebär också att hålla styrelsen uppdaterad om hur ekonomin ser ut, se till så vi följer budgeten under året, samt fakturerar och betalar fakturor.</p>
        </div>
        <div class="col-md-3">
            <img class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/Kavaj-Lisa-A.png" alt="">
            <h3>
                Lisa Anundi<br /> <small>Informationsansvarig</small>
            </h3>
            <p>En annan viktig funktion i styrelsen är sekreteraren, som för protokoll över både sektions- och styrelsemöten.</p>
        </div>
    </div>
    <div class="row text-center styrelse-row">
        <div class="col-md-3">
            <img class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/Kavaj-Kim.png" alt="">
            <h3>
                Kim Dahlberg<br />
                <small>Informatik</small>
            </h3>
            <p>
                Den här posten leder informatikutskottet och har som syfte att dels minska klyftan mellan studier och arbetsliv för informatiker, samt att få fler informatiker engagerade i Sesam. Det gör vi genom att skapa roliga och lärorika aktiviteter tillsammans med företag och hela tiden försöka sprida kunskap om vad Sesam gör till informatiker.
            </p>
        </div>
        <div class="col-md-3">
            <img class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/Kavaj-Gustaf.png" alt="">
            <h3>
                Gustaf Smedeby<br />
                <small>Finans</small>
            </h3>
            <p>
                Finansutskottet är ett studiesocialt utskott vars syfte är att öka intresset för de finansiella marknaderna hos studenter på Handelshögskolan. Bland annat håller finansutskottet i den årliga Aktietävlingen som går av stapeln under vårterminen.
            </p>
        </div>
        <div class="col-md-3">
            <img class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/Kavaj-Lisa-L.png" alt="">
            <h3>
                Lisa Lindahl<br /> <small>Introduktionsansvarig</small>
            </h3>
            <p>
                Som introduktionsansvarig
                arbetar jag för att de nya studenterna ska få en så bra start som möjligt på
                sin studietid. Jag är en länk mellan Sesams introduktionskommitté (IntroK) och
                övriga Sesam. Jag hjälper bland annat till med planeringen, samordnar och ser
                till att IntroKs arbete går framåt. Jag är även med och rekryterar Sesams nya
                generaler och IntroK.
            </p>
        </div>
        <div class="col-md-3">
            <img class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/Kavaj-Linnea.png" alt="">
            <h3>
                Linnea Nilsfors<br />
                <small>Utbildningsutskottet</small>
            </h3>
            <p>
                Utbildningsutskottet ansvarar för utbildningsrelaterade frågor. Vi arbetar för att studenter ska ha inflytande över sin utbildning samt för att förbättra de utbildningar som tillhör handelshögskolan. Utskottet har en nära kontakt med lärare och ämnesansvariga.
            </p>
        </div>
    </div>
    <div class="row text-center styrelse-row">
        <div class="col-md-3">
            <img class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/Kavaj-Lovisa.png" alt="">
            <h3>
                Lovisa Lindblad<br />
                <small>Marknadsföringsansvarig</small>
            </h3>
            <p>
                Marknadsföringsutskottet ansvarar för att ge Sesam ett gott ansikte utåt genom text, bild och film. Ordförande för utskottet planerar och ser till att alla projekt blir gjorda, samt ansvarar för Introduktionstidningen.
                Utskottet består av tre projektgrupper som ansvarar för välgörenhetsloppet Studenthalvan, Sesam-Tv, studenttidningen PennyBridge Times.
            </p>
        </div>
        <div class="col-md-3">
            <img class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/Kavaj-Kajsa.png" alt="">
            <h3>
                Kajsa Levén <br /><small>Näringslivsansvarig</small>
            </h3>
            <p>
                Sesam har flera samarbeten med olika företag, och ordförande för näringslivsutskottet har det övergripande ansvaret för att dessa samarbeten fungerar och hur vi utformar våra avtal. I utskottet har sedan varje person ansvar för ett av dessa företag, och sköter den löpande kontakten.
            </p>
        </div>
        <div class="col-md-3">
            <img class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/Kavaj-Erik.png" alt="">
            <h3>
                Erik Nilsson<br />
                <small>Klubbmästare</small>
            </h3>
            <p>
                Vi är den enda sektionen som har en egen pub – Sesams Bryggeriet, aka Bryggan – och Klubbmästaren är chef över den. Det innebär allt från att jobba i köket, sköta inköp, anställa personal och sköta ekonomin. Till sin hjälp har klubbmästaren ett stort utskott av engagerade studenter.
            </p>
        </div>
        <div class="col-md-3">
            <img class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/Kavaj-Hanna.png" alt="">
            <h3>
                Hanna Andersson<br />
                <small>Studiesocialt ansvarig</small>
            </h3>
            <p>
                Studiesociala aktiviteter är de som sker efter man har slagit igen kurslitteraturen för dagen, och som ordförande i studiesociala utskottet har man det övergripande ansvaret för att anordna roliga fester, sittningar och andra aktiviteter. Man har också ett finger med i introduktionen och hjälper till att planera den.
            </p>
        </div>
        
    </div>
    <div class="row text-center styrelse-row ">
        <div class="col-md-3">
            <img class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/Kavaj-Victoria.png" alt="">
            <h3>
                Victoria Hansson<br /><small>Vice näringslivsansvarig</small>
            </h3>
            <p>
                Tillsammans med Näringslivsansvarig är min post utformad till att ansvara för medlemmarna i Näringslivsutskottet och våra samarbeten med olika företag. En annan stor uppgift i vårt utskott är att se till att det finns roliga och utmanande aktiviteter/projekt för att föra våra studenter närmre näringslivet.
            </p>
        </div>
        <div class="col-md-3">
            <img class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/Kavaj-Pernilla.png" alt="">
            <h3>
                Pernilla Andreasson<br />
                <small>Vice ekonomiansvarig</small>
            </h3>
            <p>
                Som vice ekonomiansvarig arbetar jag tillsammans med Sesams ekonomiansvarig, där mitt ansvar är fokuserat vid Sesams egna pub, Bryggan. Det innebär att jag sköter den löpande bokföringen, betalar fakturor och uträttar bankärenden. Posten fungerar även som en högra hand till Ekonomiansvarig.
            </p>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <hr>

</div>
<!-- /.container -->
