@{
    ViewData["Title"] = "Styrelsen";
}
<header id="styrelsen-header" class="top-page-header">
    <!-- Introduction Row -->
    <div class="container text-center">

        <h1>
            Vilka är med i Styrelsen?
        </h1>
        <div id="side-nav">
            <a href="#styrelsen-content" class="btn btn-trans page-scroll">
                <i class="fa fa-arrow-down fa-5x"></i>
            </a>
        </div>
    </div>
</header>
<section id="styrelsen-content">
    <div class="container">
        <!-- Team Members Row -->
        <div class="row styrelse-row">
            <div class="col-md-3 ">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/ANTONmtextJAA.jpg" alt="">

                <h3>

                    Anton Björk<br />
                    <small>Ordförande</small>
                </h3>
                <p>
                    Ordförande är ansvarig för att leda sektionens styrelse. Tillsammans med vice ordförande arbetar ordförande för att utveckla Sesam och främja Örebro studentkår. Ordförande är Sesams spindel i nätet och stöttar Sesams olika projekt och utskott. Vidare är även ordförande firmatecknare i organisationen.
                </p>
                <p>
                    <a href="mailto:ordforande@sesamit.se" class="">ordforande@sesamit.se</a>
                </p>

            </div>
            <div class="col-md-3">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/LIsamtextJAA.jpg" alt="">
                <h3>

                    Lisa Germundsson<br />

                    <small>Vice Ordförande</small>


                </h3>

                <p>
                    Vice ordförande är ansvarig för informationsutbytet mellan Sesam och våra externa kontakter i form av övriga sektioner, andra universitet samt S.E.R.O. Dessutom sitter vice ordförande som ledamot i Örebro studentkårs styrelse och har därmed ansvaret att förmedla studentkårens vision, åsikter och verksamhetsplan till Sesam.
                </p>
                <p>
                    <a href="mailto:viceordforande@sesamit.se" class="">viceordforande@sesamit.se</a>
                </p>
            </div>
            <div class="col-md-3">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/CARLLmtextJAA.jpg" alt="">
                <h3>

                    Carl Lundahl<br />

                    <small>Ekonomiansvarig</small>

                </h3>
                <p>
                    Ekonomiansvarig i Sesam skapar Sesams budget och sköter löpande bokföring under verksamhetsåret. Rollen innebär också att hålla styrelsen uppdaterad om hur ekonomin ser ut, se till att budgeten följs under året, samt fakturerar och betalar fakturor. Ekonomiansvarig är den andra behöriga firmatecknaren i organisationen.
                </p>
                <p>
                    <a href="mailto:ekonomi@sesamit.se" class="">ekonomi@sesamit.se</a>
                </p>
            </div>
            <div class="col-md-3">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/AmandamTEXTJAA.jpg" alt="">
                <h3>

                    Amanda Engberg<br /> <small>Informationsansvarig</small>
                </h3>
                <p>
                    Som informationsansvarig har man en överblick över den information som når Sesam och ansvarar för att förfrågningar och annat når rätt person i rätt tid. Dessutom är man som informationsansvarig även den som för protokoll över både sektions- och styrelsemöten.
                </p>
                <p>
                    <a href="mailto:info@sesamit.se" class="">info@sesamit.se</a>
                </p>
            </div>
        </div>
        <div class="row styrelse-row">
            <div class="col-md-3">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/OlamTEXTJAA.jpg" alt="">
                <h3>

                    Ola Vognlid<br />
                    <small>Informatik</small>
                </h3>
                <p>
                    Den här posten leder informatikutskottet med målet att i systemvetarnas intresse arbeta med näringslivs- och studiesociala frågor inom Sesam. Detta gör man genom att försöka minska klyftan mellan studier och arbetsliv men även igenom att skapa chanser att träffas och lära känna andra systemvetare.
                </p>
                <p>
                    <a href="mailto:informatikutskottet@sesamit.se" class="">informatikutskottet@sesamit.se</a>
                </p>
            </div>
            <div class="col-md-3">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/CAlleGmTEXTJAA.jpg" alt="">
                <h3>

                    Carl Görtz<br />
                    <small>Finans</small>
                </h3>
                <p>
                    Finansutskottet är ett studiesocialt utskott vars syfte är att öka intresset för de finansiella marknaderna hos studenterna inom Sesam. Det gör man genom att anordna aktiviteter med anknytning till finans. Som ordförande för Finansutskottet innebär det att man har det övergripande ansvaret för att alla aktiviteter planeras och genomförs inom utskottet.
                </p>
                <p>
                    <a href="mailto:finansutskottet@sesamit.se" class="">finansutskottet@sesamit.se</a>
                </p>

            </div>
            <div class="col-md-3">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/ViktoriamTEXTJAA.jpg" alt="">
                <h3>

                    Viktoria Sand<br /> <small>Introduktionsansvarig</small>
                </h3>
                <p>
                    Sesams introduktionsansvarige är den naturliga länken mellan introduktionen, Sesam och Sesams styrelse. Posten fungerar också som stöd och rådgivning till projektgruppen för Sesams introduktion (IntroK) och förmedlar den introduktionspolicy och styrdokument som Sesam står för. Introduktionsansvarige är också med och rekryterar Sesams nya generaler och IntroK samt är ansvarig för introduktionens avslutningssittning (Gasquen).
                </p>
                <p>
                    <a href="mailto:introduktion@sesamit.se" class="">introduktion@sesamit.se</a>
                </p>
            </div>
            <div class="col-md-3">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/OscarmTEXTJAA.jpg" alt="">
                <h3>
                    Oscar Nilsson<br />
                    <small>Utbildningsutskottet</small>
                </h3>
                <p>
                    Som utbildningsbevakare har man utbildningsutskottet vid sin sida och tillsammans ansvarar utskottet för utbildningsrelaterade frågor. Man arbetar för att studenter ska ha inflytande över sin utbildning samt för att förbättra de utbildningar som tillhör handelshögskolan. Utskottet har en nära kontakt med lärare och ämnesansvariga.
                </p>
                <p>
                    <a href="mailto:utbildning@sesamit.se" class="">utbildning@sesamit.se</a>
                </p>
            </div>
        </div>
        <div class="row styrelse-row">
            <div class="col-md-3">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/JuliamtextJAA.jpg" alt="">
                <h3>

                    Julia Robertsson<br />
                    <small>Marknadsföringsansvarig</small>
                </h3>
                <p>
                    Hos marknadsföringsansvarig ligger uppgiften att få Sesam att synas. Tillsammans med marknadsföringsutskottet arbetar man aktivt både med de andra utskottens och sektionens kommunikation internt men även externt. Detta görs genom en enhetlig profilering via sociala medier, planscher, foto och film mm, samt tillverkningen av Sesams tidning som ges ut två gånger om året i samband med terminsstart.
                </p>
                <p>
                    <a href="mailto:marknad@sesamit.se" class="">marknad@sesamit.se</a>
                </p>
            </div>
            <div class="col-md-3">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/FredrikmtextJAA.jpg" alt="">
                <h3>
                    Fredrik Rasmussen <br /><small>Näringslivsansvarig</small>
                </h3>
                <p>
                    Sesam har flera samarbeten med olika företag, och ordförande för näringslivsutskottet har det övergripande ansvaret för att dessa samarbeten fungerar och hur vi utformar våra avtal. I utskottet har sedan varje person ansvar för ett av dessa företag, och sköter den löpande kontakten.
                </p>
                <p>
                    <a href="mailto:naringsliv@sesamit.se" class="">naringsliv@sesamit.se</a>
                </p>
            </div>
            <div class="col-md-3">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/ELINm.textJAA-13.jpg" alt="">
                <h3>

                    Elin Hålldin<br />
                    <small>Klubbmästare</small>
                </h3>
                <p>
                    Sesam är den enda sektionen som har en egen pub – Sesams Bryggeriet, aka Bryggan – och Klubbmästaren ansvarar och driver den. Det innebär allt från att jobba i köket och servera till att sköta inköp och anställa personal. Till sin hjälp har klubbmästaren ett stort utskott av engagerade studenter, samt Sesams vice ekonomiansvarige.
                </p>
                <p>
                    <a href="mailto:klubbmasteriet@sesamit.se" class="">klubbmasteriet@sesamit.se</a>
                </p>
            </div>
            <div class="col-md-3">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/ChristoffermTextJAA.jpg" alt="">
                <h3>

                    Christoffer Olenäs<br />
                    <small>Studiesocialt ansvarig</small>
                </h3>
                <p>
                    Studiesociala aktiviteter är de som sker efter man har slagit igen kurslitteraturen för dagen, och som ansvarig har man det studiesociala utskottet vid sin sida. Tillsammans har utskottet det övergripande ansvaret för att anordna roliga fester, sittningar och sportevenemang.
                </p>
                <a href="mailto:studiesocial@sesamit.se" class="">studiesocial@sesamit.se</a>

            </div>

        </div>
        <div class="row styrelse-row ">
            <div class="col-md-3">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/AlicemTEXT.jpg" alt="">
                <h3>

                    Alice Flodin<br /><small>Näringslivsansvarig</small>
                </h3>
                <p>
                    Tillsammans med Sesams näringslivsansvarig är denna post utformad till att ansvara för medlemmarna i näringslivsutskottet och våra samarbeten med olika företag. En annan stor uppgift i detta utskott är att se till att det finns roliga och utmanande aktiviteter/projekt för att föra våra studenter närmre näringslivet.
                </p>
                <p>
                    <a href="mailto:vice.naringsliv@sesamit.se" class="">vice.naringsliv@sesamit.se</a>
                </p>
            </div>
            <div class="col-md-3">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/KLarlaura.jpg" alt="">
                <h3>

                    Laura Seredyte<br />
                    <small>Vice ekonomiansvarig</small>
                </h3>
                <p>
                    Som vice ekonomiansvarig arbetar man tillsammans med Sesams ekonomiansvarig, där ansvaret är fokuserat vid Sesams egna pub, Bryggan. Det innebär att man sköter den löpande bokföringen, betalar fakturor och uträttar bankärenden. Posten fungerar även som en högra hand till Sesams ekonomiansvarig.
                </p>
                <p>
                    <a href="mailto:brygganekonomi@sesamit.se" class="">brygganekonomi@sesamit.se</a>
                </p>
            </div>
            <div class="col-md-3">

                <img width="300" height="300" class="img-circle img-responsive styrelsen-person-picture" src="../Images/styrelse/OLivermTEXTJAA.jpg" alt="">
                <h3>

                    Oliver Sundbäck<br />
                    <small>IT-Ansvarig</small>
                </h3>
                <p>
                    
                </p>
                <p>
                    <a href="mailto:it@sesamit.se" class="">it@sesamit.se</a>
                </p>
            </div>
            <div class="col-md-6">
            </div>
        </div>

        <div class="scroll-top-wrapper ">
            <span class="scroll-top-inner" title="Gå till toppen av sidan">
                <i class="fa fa-2x fa-arrow-circle-up"></i>
            </span>
        </div>
    </div>
    <!-- /.container -->
</section>
<section id="section-styrelsen-jump hidd" class=""></section>
@section scripts
{
    <script type="text/javascript">
        ApplySlide();
    </script>
}