@{
    ViewData["Title"] = "Utskott";
}


<header class="vadarsesam-header">
    <div class="container text-center">
        <i class="fa fa-users" aria-hidden="true"></i>
        <h1>Utskott</h1>
    </div>
</header>

<div class="section-VadArSesampage">

    <div class="container">

        <div class="col-md-10">

            <div class="panel panel-default" id="utskott-panel">
                <div class="panel-body">
                    <p class="lead">Sesam består förutom av en styrelse även av 7st utskott. Dessa är Näringslivsutskottet, finansutskottet, markandsförignsutskottet, utbildningsutskottet, informatikutskottet, studiesociala och vår egna studentpub, Bryggan. Utskotten består av våra medlemmar och är oerhört viktiga för att Sesam ska fungera. Utskotten är de som möjliggör och genomför de olika aktiviteter Sesam ordnar för sina medlemmar. Detta är aktiviteter som innebär bland anant utbildningsbevakning, studiesociala aktiviteter så som sittningar och andra studiesociala evenemang samt kontakter med näringslivet. Mer information om de olika utskotten hittar du nedan.</p>
                </div>
            </div>
            
            <hr class="featurette-divider" id="finans">

            <!-- 1 -->
            <div class="row">

                <div class="col-md-8">
                    <img class="img-thumbnail img-responsive" src="~/Images/Utskott/finans.jpg" alt="">
                </div>

                <div class="col-md-4">
                    <h3>Finansutskottet</h3>
                    <p>
                        Finansutskottet syftar till att skapa ett intresse för den finansiella marknaden hos Sesams medlemmar. Det gör vi framförallt genom sociala aktiviteter som har en anknytning till den finansiella branschen. Dessas sociala aktiviteter inkluderar tävlingar, föreläsningar, diskussioner, företagsbesök, samt andra aktiviteter.Vi har även en hemsida, http://gameofstocks.se/, där man kan kan handla aktier till riktiga priser, med fiktiva pengar.
                        Som medlem i Finansutskottet får du möjlighet att själv vässa dina kunskaper inom finansbranschen. Du ansvarar även för att genomföra de aktiviteter vi planerar tillsammans.
                </div>

            </div>

            <hr class="featurette-divider" id="informatik">

            <!-- 2 -->
            <div class="row">

                <div class="col-md-4">
                    <h3>Informatikutskottet</h3>
                    <p>
                        Informatikutskottet består till största delen av informatiker och jobbar med att hitta på roliga aktiviteter med inriktning på IT, ofta tillsammans med företag. Här finns möjlighet att kontakta IT-företag angående aktiviteter och samarbete med Sesam, samt driva igenom idéer som gynnar informatikstudenterna, både tillsammans med företag och rent studiesociala aktiviteter. Tidigare har vi bland annat ordnat:
                        Föreläsning och mingel hos Nethouse
                        Barcraft på Sesams pub Bryggan
                        Tjejkväll hos Nethouse
                        Föreläsningar/projektkvällar på campus
                        Är du intresserad av att gå med i informatikutskottet? Eller undrar du över något? Skicka ett mail till informatikutskottet@sesamit.se
                </div>

                <div class="col-md-8">
                    <img class="img-thumbnail img-responsive" src="~/Images/Utskott/informatik.jpg" alt="">
                </div>

            </div>

            <hr class="featurette-divider" id="marknad">

            <!-- 3 -->
            <div class="row">

                <div class="col-md-8">
                    <img class="img-thumbnail img-responsive" src="~/Images/Utskott/marknadsföring.JPG" alt="">
                </div>

                <div class="col-md-4">
                    <h3>Marknadsföringsutskottet</h3>
                    <p>
                        Marknadsutskottet har i uppgift att få Sesams event att synas utåt samt anordna egna aktiviteter. Utskottet är indelat i tre olika projektgrupper för att varje medlem själv ska få välja inriktning. De olika projekten vi ansvarar för är Studenthalvan: ett välgörenhetslopp för alla studenter på Universitet, Sesam-TV: vår alldeles egna Youtube-kanal samt PennyBridge Times vilka ansvarar både för studenttidningen PennyBridge Times. Utskottet ansvarar även för att Sesam ska synas bland universitetets alla studenter och gör affischerna till Sesams event. Vi hoppas på så sätt att fler studenter blir intresserade och engagerar sig inom sektionen samt fortsätter vara med på alla årets aktiviteter. Är du intresserad av att gå med i utskottet eller har frågor, kontakta då: marknad@sesamit.se
                </div>

            </div>

            <hr class="featurette-divider" id="naringsliv">

            <!-- 4 -->
            <div class="row">

                <div class="col-md-4">
                    <h3>Näringslivsutskottet</h3>
                    <p>
                        Näringslivsutskottet arbetar med att upprätthålla kontakten med Sesams samarbetspartners. Vårt syfte är att minska klyftan mellan studenter och näringslivet. Är du med i näringsutskottet blir du oftast personlig kontaktperson till en av våra samarbetspartners. Du ansvarar för att genomföra aktiviteter tillsammans med företaget samt att marknadsföra företaget på campus.Vi genomför också flera projekt med de andra utskotten där det passar sig att företag deltar. Är du intresserad av att vara med i näringslivsutskottet eller hjälpa till med något projekt? Hör då av dig till: naringsliv@sesamit.se
                </div>

                <div class="col-md-8">
                    <img class="img-thumbnail img-responsive" src="~/Images/Utskott/näringsliv.jpg" alt="">
                </div>

            </div>

            <hr class="featurette-divider" id="studiesociala">

            <!-- 5 -->
            <div class="row">

                <div class="col-md-8">
                    <img class="img-thumbnail img-responsive" src="~/Images/Utskott/studiesociala.png" alt="">
                </div>

                <div class="col-md-4">
                    <h3>Studiesociala utskottet</h3>
                    <p>
                        Det studiesociala utskottet arrangerar olika aktiviteter som till exempel sittningar och sportturneringar. Detta utskott är till för att studenterna även ska ha roligt utanför skoltid. Målet är att få en ökad interaktion mellan alla studenter på handelshögskolan och även folk i andra sektioner. Detta genom att erbjuda aktiviteter som passar alla smaker. Kort och gott så ska alla ha otroligt roligt på aktiviteter som studiesociala utskottet arrangerar!
                </div>

            </div>

            <hr class="featurette-divider" id="utbildning">

            <!-- 6 -->
            <div class="row">

                <div class="col-md-4">
                    <h3>Utbildningsutskottet</h3>
                    <p>
                        Utbildningsutskottet verkar för att garantera en bra kvalitet på våra utbildningar samt sprida kunskap gällande viktiga val inom ditt program. Vi fungerar som en länk mellan studenterna och Handelshögskolan/Örebro Universitet och vi hjälper dig när du känner dig orättvist behandlad eller helt enkelt inte tycker kursen du läser håller måttet.
                </div>

                <div class="col-md-8">
                    <img class="img-thumbnail img-responsive" src="~/Images/Utskott/utblidning.JPG" alt="">
                </div>

            </div>

            <hr class="featurette-divider">

        </div>

        <nav class="col-md-2" id="scrollspy">
            <ul id="nav" class="nav nav-tabs nav-stacked hidden-xs hidden-sm" data-spy="affix">
                <li><a class="page-scroll" href="#finans">Finans</a></li>
                <li><a class="page-scroll" href="#informatik">Informatik</a></li>
                <li><a class="page-scroll" href="#marknad">Marknadsföring</a></li>
                <li><a class="page-scroll" href="#naringsliv">Näringsliv</a></li>
                <li><a class="page-scroll" href="#studiesociala">Studiesocialt</a></li>
                <li><a class="page-scroll" href="#utbildning">Utbildning</a></li>
            </ul>
        </nav>

    </div>
</div>
