@{
    ViewData["Title"] = "Styrelsen";
}
<header id="utskott-header" class="top-page-header">
    <!-- Introduction Row -->
    <div class="container text-center">

        <h1>
            Val till Sesams styrelse 2017/18
        </h1>
        <div id="side-nav">
            <a href="#styrelsen-content" class="btn btn-trans page-scroll">
                <i class="fa fa-arrow-down fa-5x"></i>
            </a>
        </div>
    </div>
</header>
<section id="styrelsen-content">
    <div class="container">
        <h3>Är du intresserad av att sitta i Sesams styrelse under verksamhetsåret 2017/18 eller känner du någon som du vet skulle passa bra till detta?</h3>
        <p>Läs mer om posterna du kan söka till <a asp-controller="OmSesam" asp-action="Styrelsen">här</a>. </p>
        <h4 class="list-group-item-heading">        Viktiga datum att hålla koll på</h4>
        <ul class="list-group ">
            <li class="list-group-item">
                1–22 mars: nominerings- och ansökningsperiod.
            </li>
            <li class="list-group-item">
                23–29 mars: intervjuer hålls med nominerade och sökande.
            </li>
            <li class="list-group-item">
                5 april: valdag.
            </li>
        </ul>

        <p>
            Styrelsevalet samordnas av valberedningen bestående av Elvira Gunnarsson, Lovisa Göransson Ording, Simon Ezcurra Gyllensten och Sofia Bergkvist.
        </p>
        <p>
            Intresserad? Skicka in din ansökan eller nominera någon du tror skulle passa till val@sesamit.se.
        </p>
        <p>
            För mer information kring valet och de poster som finns att söka, följ oss på <a href="https://www.facebook.com/Sesamit/?fref=ts" target="_blank">Facebook (sesamit)</a> och <a href="https://www.instagram.com/sesamofficial/" target="_blank">Instagram (sesamofficial)</a>.
        </p>
    </div>
    <!-- /.container -->
</section>
<section id="section-styrelsen-jump hidd" class=""></section>
@section scripts
{
    <script type="text/javascript">
        ApplySlide();
    </script>
}