@{
    ViewData["Title"] = "Värdegrund";
}

<header id="sesamvagen-header" class="top-page-header header-responsive-fix">
    <div class="jumbotron text-center jumbotron-transparent">
        @*<i class="fa fa-exclamation fa-5x" aria-hidden="true"></i>*@
        <h1>Vårt löfte</h1>
        <h2>Vi erbjuder Dig verktygen för en bättre studietid. </h2>
    </div>
</header>

<section class="section-campusmassan">
    <div class="jumbotron jumbotron-transparent">
        <div class="container">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                <p class="">
                    <i class="fa fa-3x fa-eye text-primary"></i>
                </p>
                <p>
                    <b>Sesams vision</b> är att på ett inkluderande sätt utveckla individer, skapa värde och sätta färg på studenternas vardag under och efter studietiden. Med mod, inkludering och glädje ska Sesam bli en av Sveriges främsta studentföreningar
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section-grey section-small-padding">
    <div class="container">
        <div class="row text-center">
            <h2 class="">
                Sesams värdeord
            </h2>
            </div>

        <br />
        <br/>
        @*<div class="col-md-4">

                    <p>Sesam arbetar alltid med våra värdeord i åtanke:</p>
                    <ul class="list-group">
                        <li class="list-group-item"><h4>Mod</h4></li>
                        <li class="list-group-item"><h4>Inkludering</h4></li>
                        <li class="list-group-item"><h4>Glädje</h4></li>
                    </ul>
                    <p>I planeringen av aktiviteter, vid val av samarbeten och i alla vardagliga situationer ligger dessa ord till grund för de beslut som tas.</p>

                </div>*@
        <div class="row">
            <div class="col-md-4 col-sm-4 text-center">

                <i class="fa fa-hand-grab-o fa-5x text-primary"></i>
                <h3>Mod</h3>
                <p>
                    Ordet mod symboliserar vad vi vill att alla våra medlemmar ska känna, därför uppmuntrar vi till initiativ, nytänkande och personlig utveckling. Att våga ser vi som nyckeln till att utmana och förbättra vår förening både för våra medlemmar och våra samarbetspartners.
                </p>
            </div>

            <div class="col-md-4 col-sm-4 text-center">
                <i class="fa fa-users fa-5x text-primary"></i>

                <h3>

                    Inkludering
                </h3>
                <p>
                    Evenemang och aktiviteter som anordnas såväl som samarbeten som byggs upp ska präglas av inkludering och vi strävar efter att erbjuda något för alla.
                </p>
            </div>


            <div class="col-md-4 col-sm-4 text-center">

                <i class="fa fa-smile-o fa-5x text-primary"></i>
                <h3>
                    Glädje
                </h3>

                <p>
                    Glädjen ska genomsyra hela föreningen och vi vill erbjuda det som gör studietiden lite roligare. Våra medlemmar ska känna glädjen i alla situationer, oavsett vilken termin eller vilket program man studerar.
                </p>
            </div>
        </div>
        
        </div>


</section>
<section class="">
    <div class="jumbotron jumbotron-transparent">
        <div class="container">
            <div class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 col-xs-6">
                <img src="~/images/vardeord-tumme.png" class="img-responsive" />
            </div>
            <div class="col-md-5 ">

                <br/>
                <div class="section-small-padding">
                    <p>
                        I planeringen av alla aktiviteter, vid val av samarbeten och i alla vardagssituationer ligger dessa ord till grund för de beslut som tas. I vår förening är det viktigt att de som väljer att vara medlem känner sig välkomna och vi tar avstånd mot alla typer av diskriminering och uteslutning.
                    </p>
                </div>
            </div>
        </div>
        <div class="scroll-top-wrapper ">
            <span class="scroll-top-inner" title="Gå till toppen av sidan">
                <i class="fa fa-2x fa-arrow-circle-up"></i>
            </span>
        </div>
    </div>
</section>