/*
    #3b469d
    #ffffff
    #333333
    #eef0f2
    #c6c7c4
*/

body, html {
    height: 100%;
}

body {
    /*font-family: 'Roboto', sans-serif !important;*/
}

p {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}
/**************************** NAVBAR ****************************/
.navbar {
    z-index: 5;
    margin-top: 20px;
}

.navbar-header img {
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 0px;
    margin-left: 7px;
    height: 40px;
    width: auto;
}


.navbar-nav li a:hover {
    /*text-decoration: underline;*/
}
/**************************** RESPONSIV FIXES ****************************/
@media (max-width: 1201px) and (min-width: 769px) {
    .front-page-header {
        margin-top: -145px !important;
    }
}

@media (max-width: 768px) {
    .front-page-header {
        margin-top: -19px !important;
    }

    .menu-container {
        background-color: white;
        padding: 0px;
    }

    .navbar-default {
        margin-top: 0px;
    }

    p.lead {
        font-size: 18px !important;
    }

    p {
        font-size: 15px !important;
    }
}

@media (max-width: 991px) {
    .footer-contact {
        text-align: center;
    }
}


/**************************** Frontpage header ****************************/
.front-page-header {
    z-index: 0;
    margin-top: -100px;
    background-image: url("../Images/Sesam3.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

    .front-page-header .glyphicon {
        font-size: 75px !important;
        margin-bottom: 10px;
    }

#carousel-example-generic {
    background-color: rgba(0,0,0,0.5);
}

.carousel-indicators li {
    width: 17px !important;
    height: 17px !important;
}


.item {
    padding-top: 350px;
    padding-bottom: 100px;
    margin-bottom: 50px;
    height: 100px;
}

    .item p {
        margin: 2px;
        padding: 4px;
    }

    .item h2 {
        color: #FFF;
        margin-top: 0px;
        margin-bottom: 13px;
        padding: 1px;
    }

    .item .fa-5x {
        font-size: 11em;
    }

    .item .fa-briefcase {
        font-size: 8em !important;
    }

/****************************Frontpage content****************************/
.section-frontpage {
    padding-top: 30px;
    padding-bottom: 0px;
    background-color: #f8f8f8;
}

    .section-frontpage p {
        font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    }

.row .fa {
    color: #127ba3;
}

.alert {
    margin-bottom: 0px;
}



.section-frontpage .panel {
    border-top-width: 1.5px;
}

/****************************Frontpage news-content****************************/
.section-news {
    color: #FFF;
    background-color: #FFF;
    padding: 30px 0px;
}

    .section-news h1 {
        color: #333333;
    }



/*introduktion*/
.top-page-header {
    z-index: 0;
    margin-top: -100px;
    background-image: url("../Images/sesam2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 270px;
    padding-bottom: 120px;
    margin-bottom: 0px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

    .top-page-header h1, .top-page-header h2, .top-page-header h3, .top-page-header h4 {
        color: #FFF;
    }

    .top-page-header h1 {
        margin-top: 5px;
    }

    .top-page-header i {
        color: #FFF;
        font-size: 08em;
    }


section#intro-content-top {
    background-color: #f8f8f8;
}

#intro-k {
    background-color: #75caeb;
}

#intro-content-top .thumbnail {
    padding: 15px;
    border: 4px solid #eeeeee;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

    #intro-content-top .thumbnail .caption h3 {
        margin-top: -10px;
        margin-bottom: 7px;
    }

    #intro-content-top .thumbnail img {
        padding: 8px;
        width: 175px;
    }

#introk-bg-section {
    background-image: url("../Images/introk/alla.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
/*VadArSesam*/
.media-object {
    height: 200px;
    width: 200px;
}

.section-VadArSesampage {
    padding-top: 30px;
    padding-bottom: 0px;
    background-color: #f8f8f8;
}

.item-background {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
}


/****************************FOOTER****************************/
.footer {
    color: #FFF;
    padding: 30px;
    background-color: #003366;
    border-top: 1px solid transparent;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

    .footer a {
        color: #FFF;
    }

    .footer p {
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    .footer h4 {
        color: #FFF;
    }

    .footer p span {
        display: block;
    }

.footer-contact {
    padding: 15px 0;
}

    .footer-contact i {
        background-color: #75caeb;
        color: #ffffff;
        font-size: 25px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }

    .footer-contact .fa {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

#footer-logo {
    padding: 10px;
    width: 100px;
}

#footer-samarbets-pic {
    padding: 10px;
    width: 255px;
}

.footer-icons {
    padding: 65px 0;
}

.btn-footer:hover {
    color: #fff;
}
