/*
    #3b469d
    #ffffff
    #333333
    #eef0f2
    #c6c7c4
*/

body, html {
    height: 100%;
}

p {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}
/**************************** NAVBAR ****************************/
.navbar {
    z-index: 5;
    margin-top: 20px;
}

.navbar-header img {
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 0;
    margin-left: 7px;
    height: 40px;
    width: auto;
}
#logout-button {
    padding: 3px 20px;
}
#logout-button button {
    padding: 0;
}
/**************************** GENERAL ****************************/
.section-padding {
    padding: 100px 0 100px;
}

.row-padding {
    padding: 30px 0;
}

.img-center {
    margin: 0 auto;
}

.fa-blue {
    color: #127ba3;
}

.fa-white {
    color: #FFF;
}
.fa-grey {
    color: #666;
}
.fa-7x {
  font-size: 7em !important;
}
.h3-fp-section {
    margin-top: 0;
    font-weight: lighter;
}
.h1-margin {
    margin: 30px 0 100px;
}

/**************************** RESPONSIV FIXES ****************************/
@media (max-width: 1201px) and (min-width: 769px) {
    .front-page-header {
        margin-top: -145px !important;
    }

    .top-page-header {
        margin-top: -145px !important;
    }

    .header-responsive-fix {
        margin-top: -130px !important;
    }
}

@media (max-width: 768px) {
    .front-page-header {
        margin-top: -19px !important;
    }

    .menu-container {
        background-color: white;
        padding: 0;
        margin: 0 !important;
    }

    .navbar-default {
        margin-top: 0;
    }

    p.lead {
        font-size: 18px !important;
    }

    p {
        font-size: 15px !important;
    }

    #bryggan-menu li a i {
        padding: 0;
        font-size: 1.4em;
    }

    #bryggan-header {
        background-size: 100% 100% !important;
    }
    .section-padding {
        padding: 50px 0;
}
}

@media (max-width: 991px) {
    .footer-contact {
        text-align: center;
    }
}

@media (min-width: 991px) {
    .kontakt-modified-panel-small {
        height: 150px;
    }
}


/**************************** Frontpage header ****************************/
.front-page-header {
    z-index: 0;
    margin-top: -100px;
    background-image: url("../Images/Sesam3.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

    .front-page-header #carousel-example-generic {
        background-color: rgba(0,0,0,0.5);
    }

    .front-page-header .carousel-indicators li {
        width: 17px !important;
        height: 17px !important;
    }

    .front-page-header .carousel-control {
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.0) 100%) !important;
    }

    .front-page-header .item {
        padding: 380px 0 130px;
        margin-bottom: 100px;
        height: 100px;
    }

        .front-page-header .item p {
            margin: 2px;
            padding: 4px;
        }

        .front-page-header .item h2, .item h1, .item h4 {
            color: #FFF;
            margin-top: 0;
            margin-bottom: 13px;
            padding: 1px;
        }

        .front-page-header .item .fa-5x {
            font-size: 11em;
        }

        .front-page-header .item .fa-briefcase {
            font-size: 8em !important;
        }


/****************************Frontpage content****************************/
#section-frontpage {
    background-color: #f8f8f8;
}


.alert {
    margin-bottom: 0;
}

.section-frontpage .panel {
    border-top-width: 1.5px;
}

#front-page-samarbeten {
    margin: 100px 0 150px;
}

.img-logo-fp {
    margin: 20px 0 0;
    max-height: 350px;
}

#section-ordforande {
    background-color: #f8f8f8;
    background-image: url("../Images/styrelse/Kavaj-Jonatan-fp5.png");
    background-repeat: no-repeat;
    background-size: cover;
}

    #section-ordforande .jumbotron {
        border: 0;
        -webkit-box-shadow: none;
        background-color: transparent;
        margin: 60px 0 0;
        padding: 0 0 80px;
    }

        #section-ordforande .jumbotron h2, #section-ordforande .jumbotron p {
            color: #FFF;
            text-shadow: 0 1px 2px rgba(0,0,0,0.6);
        }

#section-fp-middle {
    background-image: url("../Images/introduktion/15-09-11-orebrodagen-2015-57660-faded.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#section-fp-info {
    background-color: #f8f8f8;
    padding: 180px 0;
}

/****************************introduktion****************************/
.top-page-header {
    z-index: 0;
    margin-top: -100px;
    width: 100%;
    padding: 300px 0 250px;
    margin-bottom: 0;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

#intro-header {
    background-image: url("../Images/introduktion/15-09-11-orebrodagen-2015-57665-faded.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.top-page-header h1, .top-page-header h2, .top-page-header h3, .top-page-header h4 {
    color: #FFF;
}

.top-page-header h1 {
    margin-top: 5px;
}

.top-page-header i {
    color: #FFF;
}


section#intro-content-top {
    background-color: #f8f8f8;
}

#intro-content-top .row .fa {
    color: #127ba3;
}

#intro-k {
    background-color: #75caeb;
}

#intro-content-top .thumbnail {
    padding: 15px;
    border: 4px solid #eeeeee;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

    #intro-content-top .thumbnail .caption h3 {
        margin-top: -10px;
        margin-bottom: 7px;
    }

.intro-img {
    width: 100%;
}

#introk-bg-section {
    background-image: url("../Images/introk/introduktion2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.intro-k-pair-small {
    width: 100%;
    padding: 10px;
}

.p-no-bottom-margin {
    margin-bottom: -10px;
}

.border-left-panel {
    border-left: 5px lightskyblue solid;
}

.border-right-panel {
    border-right: 5px lightskyblue solid;
}

.border-full-panel {
    border-right: 5px lightskyblue solid;
    border-left: 5px lightskyblue solid;
}
/****************************VadArSesam****************************/

.vadarsesam-header {
    z-index: 0;
    margin-top: -100px;
    background-image: url("../Images/introduktion/15-09-11-orebrodagen-2015-57660-faded.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 270px;
    padding-bottom: 120px;
    margin-bottom: 0;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

    .vadarsesam-header h1, .top-page-header h2, .top-page-header h3, .top-page-header h4 {
        color: #FFF;
    }

    .vadarsesam-header h1 {
        margin-top: 5px;
    }

    .vadarsesam-header i {
        color: #FFF;
        font-size: 08em;
    }


.section-VadArSesampage {
    padding-top: 30px;
    padding-bottom: 0;
    background-color: #f8f8f8;
}

.item-background {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('http://placehold.it/1900x500') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
}

    .headline h1 {
        font-size: 130px;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .headline h2 {
        font-size: 77px;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

        .featurette-image.pull-left {
            margin-right: 10px;
        }

        .featurette-image.pull-right {
            margin-left: 10px;
        }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

        .headline h1 {
            font-size: 60px;
        }

        .headline h2 {
            font-size: 30px;
        }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

        .featurette-image.pull-left {
            margin-right: 0;
            margin-bottom: 10px;
        }

        .featurette-image.pull-right {
            margin-bottom: 10px;
            margin-left: 0;
        }
}

/****************************Utskott****************************/
.affix {
    top: 20px;
}

#nav li a:hover {
    border-left: 5px lightskyblue solid;
}

#nav .active a {
    border-left: 5px lightskyblue solid;
}

#utskott-panel {
    border-left: 5px lightskyblue solid;
}


/****************************Kontakta oss****************************/
#kontakt-map {
    height: 400px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

/****************************Styrelsen****************************/
#styrelsen-header {
    background-image: url("../Images/introduktion/15-09-11-orebrodagen-2015-57644-faded.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 280px 0 400px;
}

#styrelsen-content {
    padding: 40px 0;
    background-color: #f8f8f8;
}

.styrelsen-person-border {
    padding: 15px;
    border: 4px solid #eeeeee;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.styrelsen-person-picture {
    margin: 0 auto;
}

.styrelse-mail-button {
    margin-top: 30px;
}

.styrelse-row {
    margin: 20px;
}

    .styrelse-row .col-md-3 {
        padding-bottom: 30px;
    }

.fa-color-blue {
    color: #003366;
}

/****************************Bryggan****************************/
#bryggan-header {
    background-image: url("../Images/bryggan/beer-hq.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 0px;
    margin-bottom: 0;
}

#bryggan-menu {
    padding-top: 40px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.0);
}

    #bryggan-menu .nav-tabs {
        border: none;
    }

    #bryggan-menu li a {
        background-color: #f8f8f8;
        border: none;
        margin-bottom: -5px;
        margin-right: 10px;
    }

        #bryggan-menu li a i {
            color: #003366;
        }

    #bryggan-menu li.active a {
        border: none;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }

#bryggan-content {
    padding: 25px 0;
    background-color: #f8f8f8;
}

    #bryggan-content .tab-content i {
        font-size: 1.5em;
    }

.img-margin-bottom {
    margin-bottom: 25px;
}

.h2-margin-top {
    margin-top: 0px;
}

#bryggan-medlemskap-tab a {
    border-top: 5px lightskyblue solid !important;
}

#bryggan-medlemskap-tab h4 {
    padding: 0;
    margin-top: 4px;
    color: #333333 !important;
}

/****************************FÖRETAG****************************/
#foretag-header {
    background-image: url("../Images/handelshogskolan-under-aulan.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#foretag-section {
    padding: 30px 0;
    background-color: #f8f8f8;
}

.row-bottom-buffer {
    margin-bottom: 35px;
}

.row-top-buffer {
    margin-top: 35px;
}

.foretag-row img {
    max-height: 125px;
}



#myCarousel .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    text-shadow: none;
}

#myCarousel .list-group {
    position: absolute;
    top: 0;
    right: 0;
}

#myCarousel .list-group-item {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#myCarousel .list-group .active {
    border: none;
    background-color: rgba(0,0,0,0.5);
}

@media (min-width: 992px) {
    #myCarousel {
        padding-right: 33.3333%;
    }

        #myCarousel .carousel-controls {
            display: none;
        }
}

@media (max-width: 991px) {
    .carousel-caption p,
    #myCarousel .list-group {
        display: none;
    }
}
/****************************NYHETER&BLOGG****************************/

#blogg-nyheter-header {
    background-image: url("../Images/introduktion/orebro-dagen-small.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0px;
}

#section-blogg {
    padding: 30px 0;
    background-color: #f8f8f8;
}


#nyheter-blogg-menu {
    padding-top: 40px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.0);
}

    #nyheter-blogg-menu .nav-tabs {
        border: none;
    }

    #nyheter-blogg-menu li a {
        background-color: #f8f8f8;
        border: none;
        margin-bottom: -5px;
        margin-right: 10px;
    }

        #nyheter-blogg-menu li a i {
            color: #003366;
        }

        #nyheter-blogg-menu li a h4 {
            color: #003366;
        }

    #nyheter-blogg-menu li.active a {
        border: none;
        transition: none;
        -webkit-transition: none;
        -o-transition: none;
    }
/****************************CAMPUSMÄSSAN****************************/

#campusmassan-header {
    background-image: url("../Images/campusmassan.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/****************************SEKTINSMÖTEN****************************/
#header-sektionsmoten {
    background-image: url("../Images/sektionsmote.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/****************************FOOTER****************************/
footer {
    color: #FFF;
    padding: 50px 0;
    background-color: #003366;
}

    footer a {
        color: #FFF;
    }

        footer a:hover {
            color: #FFF;
        }

    footer h1, footer h2, footer h3 {
        color: #FFF;
    }

    footer .fa-button {
        padding: 20px;
    }
    footer .fa-button:hover {
        text-decoration: none;
    }
    .col-fa {
        padding: 50px 0;
    }
.footer-hr {
    background-color: #f8f8f8;
     height: 1px; border: 0; 
}
