@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bryggan";
}
<header class="top-page-header" id="bryggan-header">
    <div class="container ">
        <img class="img-responsive img-center" src="../Images/bryggan/logga.png" />
    </div>
</header>
<section id="section-bryggan-intro" class="section-small-padding">
    <div class="container">
        <div class="col-md-9">
            <h1>Välkommen till Bryggan
            
            </h1>
            <p>
                Bryggan är studentpuben på Örebro Universitets campus där <strong>alla studenter</strong> kan ha en trevlig stund, dricka och äta billigt.
                Belägen på <strong>Studentgatan 2</strong> mitt emot Bågen och ett stenkast från Pressbyrån och Kårhuset.
            </p>
            <p>
                Bildades redan 1996 och har efter det växt mer och mer för varje år.
                Den ägs av studentsektionen Sesam på Örebro Universitet och samarbetar även med andra studentsektioner såväl som Örebro Studentkår och Kårhuset.
            </p>
            <p>
                Driven av studenter för studenter finns Bryggan öppen för den som är törstig och/eller hungrig.
            </p>
            <img class="img-responsive img-rounded" src="~/Images/bryggan/IMG_0916.jpg"/>
        </div>
        <div class="col-md-3 ">
            <div class="row">
                <div id="btn-bryggan-menu">
                    <a href="#section-bryggan-menu" id="" class="btn btn-info">Direkt till menyn <i class="fa fa-eye" aria-hidden="true"></i></a>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-clock-o fa-1x pull-right"></i>
                        <h3 class="panel-title">Öppettider</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>Onsdagar:</strong> 17.00-23.00
                        </p>
                        <p>
                            <strong>Fredagar:</strong> 19.00-01.00
                        </p>
                    </div>
                </div>
                <div class="panel  panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-money fa-1x pull-right"></i>
                        <h3 class="panel-title">Kontanter & Barappen</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Vi tar endast <strong>kontanter</strong> eller <strong>kortbetalning</strong> igenom Barappen. Ladda ner den här: <br/> <a href="https://itunes.apple.com/se/app/barappen/id1029884143?mt=8" target="_blank"> <i class="fa fa-2x fa-apple" aria-hidden="true"></i> iOS</a> <br/> <a href="https://play.google.com/store/apps/details?id=se.barappen.barappen" target="_blank"><i class="fa fa-2x fa-android" aria-hidden="true"></i> Android</a>
</p>
                    </div>
                </div>
                <div class="panel  panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-phone fa-1x pull-right"></i>
                        <h3 class="panel-title">Kontakt</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>Mail:</strong> <a href="mailto:klubbmasteriet@sesamit.se">klubbmasteriet@sesamit.se</a>
                        </p>
                        <p>
                            <strong>Telefon:</strong> <a href="tel:0763080996">076-308 09 96</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section-bryggan-beer" class="section-small-padding">
    <div class="jumbotron">
        <div class="container">
            <div class="col-lg-4 col-md-5  hidden-sm">
            </div>
            <div  id="bryggan-provjobba" class="col-lg-7 col-md-7 col-sm-12">
                <h2 class="h1 page-header">Boka eller provjobba?</h2>
                <p>
                    Är du intresserad av att boka eller prova arbeta på bryggan, kontakta klubbmästare <strong>Elin Hålldin</strong> via <a href="mailto:klubbmasteriet@sesamit.se">mail</a>, telefon: <a href="tel:0763080996">076-308 09 96</a> eller snacka med oss bakom baren helt enkelt!
                </p>

            </div>
        </div>
    </div>
</section>
<section id="section-bryggan-menu" class="section-small-padding">
    <div class="container">
        <h1 id="bryggan-menu-heading"class="text-center">Meny</h1>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-beer fa-1x"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <table id="beer-table" class="table table-striped table-bordered">
                        <tr>
                            <th style="">
                                Öl
                            </th>
                            <th>
                                Pris
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-glass fa-1x"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <table id="vin-table" class="table table-striped table-bordered">
                        <tr>
                            <th>
                                Vin
                            </th>
                            <th>
                                Pris
                            </th>
                        </tr>
                    </table>
                    <table id="cider-table" class="table table-striped table-bordered">
                        <tr>
                            <th>
                                Cider
                            </th>
                            <th>
                                Pris
                            </th>
                        </tr>
                    </table>
                    <table id="sprit-table" class="table table-striped table-bordered">
                        <tr>
                            <th>
                                Sprit
                            </th>
                            <th>
                                Pris
                            </th>
                        </tr>
                    </table>
                    <table id="lask-table" class="table table-striped table-bordered">
                        <tr>
                            <th>
                                Läsk
                            </th>
                            <th>
                                Pris
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-cutlery fa-1x"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <table id="mat-table" class="table table-striped table-bordered">
                        <tr>
                            <th>
                                Mat
                            </th>
                            <th>
                                Pris
                            </th>
                        </tr>
                    </table>
                    <table id="ovrigt-table" class="table table-striped table-bordered">
                        <tr>
                            <th>
                                Övrigt
                            </th>
                            <th>
                                Pris
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="scroll-top-wrapper ">
            <span class="scroll-top-inner" title="Gå till toppen av sidan">
                <i class="fa fa-2x fa-arrow-circle-up"></i>
            </span>
        </div>
    </div>
</section>


@section scripts
{
    <script type="text/javascript">
        $.getJSON("https://barappen.se:9310/api/v020/menu/1",
            function (data) {
                $.each(data.menu,
                    function () {
                        $.each(this,
                            function () {
                                if (this.category.name == "Öl") {
                                    $("#beer-table")
                                        .append("<tr> " +
                                            "<td>" +
                                            this.name +
                                            "</td>" +
                                            "<td>" +
                                            (-1 * this.cost) +
                                            " kr</td>" +
                                            "</tr>" +
                                            "");
                                };
                                if (this.category.name == "Vin") {
                                    $("#vin-table")
                                        .append("<tr> " +
                                            "<td>" +
                                            this.name +
                                            "</td>" +
                                            "<td>" +
                                            (-1 * this.cost) +
                                            " kr</td>" +
                                            "</tr>" +
                                            "");
                                }
                                if (this.category.name == "Cider") {
                                    $("#cider-table")
                                        .append("<tr> " +
                                            "<td>" +
                                            this.name +
                                            "</td>" +
                                            "<td>" +
                                            (-1 * this.cost) +
                                            " kr</td>" +
                                            "</tr>" +
                                            "");
                                }
                                if (this.category.name == "Sprit") {
                                    $("#sprit-table")
                                        .append("<tr> " +
                                            "<td>" +
                                            this.name +
                                            "</td>" +
                                            "<td>" +
                                            (-1 * this.cost) +
                                            " kr</td>" +
                                            "</tr>" +
                                            "");
                                }
                                if (this.category.name == "Mat") {
                                    $("#mat-table")
                                        .append("<tr> " +
                                            "<td>" +
                                            this.name +
                                            "</td>" +
                                            "<td>" +
                                            (-1 * this.cost) +
                                            " kr</td>" +
                                            "</tr>" +
                                            "");
                                }
                                if (this.category.name == "Övrigt") {
                                    $("#ovrigt-table")
                                        .append("<tr> " +
                                            "<td>" +
                                            this.name +
                                            "</td>" +
                                            "<td>" +
                                            (-1 * this.cost) +
                                            " kr</td>" +
                                            "</tr>" +
                                            "");
                                }
                                if (this.category.name == "Läsk") {
                                    $("#lask-table")
                                        .append("<tr> " +
                                            "<td>" +
                                            this.name +
                                            "</td>" +
                                            "<td>" +
                                            (-1 * this.cost) +
                                            " kr</td>" +
                                            "</tr>" +
                                            "");
                                }
                            });
                    });
            });

    </script>
}

