@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bryggan";
}
<header class="top-page-header" id="bryggan-header">
    <div class="container ">
        <img class="img-responsive img-center" src="../Images/bryggan/logga.png" />

        <div id="bryggan-menu">
            <div class="col-md-1 hidden-xs"></div>
            <div class="col-md-10 ">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#om" aria-controls="om" role="tab" data-toggle="tab">
                            <i class="fa fa-info-circle fa-3x"></i>
                        </a>
                    </li>
                    @*<li role="presentation">
                            <a href="#dryck" aria-controls="dryck" role="tab" data-toggle="tab">
                                <i class="fa fa-beer fa-3x"></i>
                            </a>
                        </li>*@
                    <li role="presentation">
                        <a href="#mat-dryck" aria-controls="mat" role="tab" data-toggle="tab">
                            <i class="fa fa-beer fa-3x"></i>
                            <i class="fa fa-cutlery fa-3x"></i>

                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#kontakt" aria-controls="kontakt" role="tab" data-toggle="tab">
                            <i class="fa fa-phone fa-3x"></i>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1 hidden-xs"></div>

        </div>
    </div>

</header>
<section id="bryggan-content">
    <div class="container">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- OM -->
                <div role="tabpanel" class="tab-pane active" id="om">

                    <div class="col-md-6 ">
                        <h2>Välkommen till bryggan</h2>
                        <p>
                            Bryggan är studentpuben på Örebro Universitets campus där <strong>alla studenter</strong> kan ha en trevlig stund, dricka och äta billigt.
                        </p>
                        <p>
                            Belägen på Studentgatan 2 mitt emot Bågen och ett stenkast från Pressbyrån och Kårhuset.
                        </p>
                        <h2>Vad är då Bryggan?</h2>
                        <p>
                            Bryggan är en studentpub med en ärorik historia. Den bildades redan 1996 och har efter det växt mer och mer för varje år.

                        </p>
                        <p>
                            Den ägs av studentsektionen Sesam på Örebro Universitet och samarbetar även med andra studentsektioner såväl som Örebro Studentkår och Kårhuset.
                        </p>
                        <p>
                            Driven av studenter för studenter finns Bryggan öppen för den som är törstig och/eller hungrig.

                        </p>
                    </div>

                        <div class="col-md-6 ">
                            <div class="panel  panel-primary">
                                <div class="panel-heading">
                                    <i class="fa fa-clock-o fa-1x pull-right"></i>
                                    <h3 class="panel-title">Öppettider</h3>
                                </div>
                                <div class="panel-body">
                                    <p>
                                        <strong>Onsdagar:</strong> 17.00-23.00
                                    </p>
                                    <p>
                                        <strong>Fredagar:</strong> 19.00-01.00
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">

                            <div class="panel  panel-primary">
                                <div class="panel-heading">
                                    <i class="fa fa-money fa-1x pull-right"></i>
                                    <h3 class="panel-title">Kontanter & Barappen</h3>

                                </div>
                                <div class="panel-body">
                                    <p>
                                        Vi tar endast <strong>kontanter</strong> eller <strong>kortbetalning</strong> igenom barappen som finns till <a href="https://itunes.apple.com/se/app/barappen/id1029884143?mt=8">iOS</a> och <a href="https://play.google.com/store/apps/details?id=se.barappen.barappen">Android</a>.
                                    </p>
                                </div>

                            </div>
                        </div>
                    @*<div class="col-md-7">
                        <img class="img-responsive img-rounded" src="../Images/bryggan/bryggan-bakom-baren.jpg" />
                    </div>*@
                    <div class="hidden-md hidden-lg hidden-sm ">
                        <h2>
                            Att arbeta på Bryggan
                        </h2>
                        <p>
                            Idag jobbar cirka 30 personer ideellt med att hålla Bryggan rullandes och alla studenter på Örebro Universitet som känner sig manade att provjobba är varmt välkomna att göra det. Vi är en rolig trupp med studenter som läser alla möjliga sorters utbildningar och kurser med Bryggan som gemensam nämnare!
                        </p>

                        <h3>
                            Jobbar du på Bryggan får du:
                        </h3>
                        <ul>
                            <li>
                                Personalpriser
                            </li>
                            <li>
                                Personalfester
                            </li>
                            <li>
                                Utbildning i bar och kök
                            </li>
                            <li>
                                Inflytande i Bryggans utveckling
                            </li>
                            <li>
                                Vara med om utflykter
                            </li>
                            <li>
                                Arbeta 1-2 ggr i månaden
                            </li>
                        </ul>
                        <p>
                            Låter det intressant?
                        </p>
                        <p>
                            Kontakta oss via mail, ring eller snacka med oss bakom baren helt enkelt!
                        </p>
                        <p>
                            Email personalansvarig: personalbryggan@sesamit.se
                        </p>

                    </div>
                </div> <!-- CLOSING OM -->
                @*<!-- DRYCK -->
                    <div role="tabpanel" class="tab-pane" id="dryck">
                        <img class="img-responsive img-rounded" src="../Images/bryggan/tvmeny.jpg" />
                        <img class="img-responsive img-rounded" src="../Images/bryggan/tvmeny2.jpg" />




                    </div><!-- CLOSING DRYCK -->*@
                <!-- MAT & DRYCK-->
                <div role="tabpanel" class="tab-pane" id="mat-dryck">

                    <img class="img-responsive img-rounded" src="../Images/bryggan/tvmeny.jpg" />
                    <img class="img-responsive img-rounded" src="../Images/bryggan/tvmeny2.jpg" />



                </div><!-- CLOSING MAT -->
                <!-- KONTAKT -->
                <div role="tabpanel" class="tab-pane" id="kontakt">

                    <div class="col-md-8">
                        <h2>Boka Bryggan</h2>
                        <p>

                            Alla studentsektioner, föreningar och studenter vid Örebro Universitet är välkomna att hyra Bryggeriet (Bryggan).
                        </p>
                        <p>

                            Det som krävs är att:
                        </p>
                        <ul>
                            <li>
                                Ni hittar en kväll som fungerar

                            </li>
                            <li>
                                En lista på alla som är inbjudna under kvällen/kvällarna skickas 24 timmar innan eventet

                            </li>
                            <li>
                                Ni är minst 15 personer

                            </li>
                            <li>
                                Ett bokningsavtal förhandlas fram av båda parter (Bryggan och den som bokar)

                            </li>
                            <li>
                                En bokningsavgift 300 kr betalas in till Bryggan

                            </li>
                            <li>
                                Bokningsförfrågan skickas till mail klubbmasteriet@sesamit.se eller via Bryggans offentliga Facebook.

                            </li>
                        </ul>

                        <p>
                            Bryggans öppettider är onsdagar 17-23 och fredagar 19-01, dock tillkommer några kvällar pga. av speciella evenemang och under dessa kvällar tar vi inte emot privata bokningar.
                        </p>
                        <p>
                            Bryggans serveringstillstånd gäller måndag-söndag 11-01 för slutna sällskap vilket innebär att vi måste ha en lista med namn och personnummer på alla som ska komma under kvällen, dessa gäster måste också vara studenter vid Örebro universitet.
                        </p>

                        <p>
                            I bokningsavgiften ingår medlemskap för alla inbjudna, under den aktuella kvällen. Alla gäster på listan har också rätt att ta med en gäst under kvällen.
                        </p>

                        <p>
                            Kom ihåg att Bryggan drivs av ideella studenter! Därför ber vi er att ha god framförhållning när ni bokar och ifall planerna för er bokade kväll skulle ändras.
                        </p>
                    </div>

                    <div class="col-md-4">

                        @*<h2>Vad är då Bryggan?</h2>
            <p>
                Bryggan är en studentpub med en ärorik historia. Den bildades redan 1996 och har efter det växt mer och mer för varje år.

            </p>
            <p>
                Den ägs av studentsektionen Sesam på Örebro Universitet och samarbetar även med andra studentsektioner såväl som Örebro Studentkår och Kårhuset.
            </p>
            <p>
                Driven av studenter för studenter finns Bryggan öppen för den som är törstig och/eller hungrig.

            </p>
                        *@
                        <hr />
                        <img  class="img-rounded img-responsive " src="../Images/styrelse/Kavaj-Erik.png" alt="">
                        <h3>
                            Erik Nilsson<br />
                            <small>Klubbmästare</small>
                        </h3>
                        <p>
                            <a href="mailto:klubbmasteriet@sesamit.se" class="">klubbmasteriet@sesamit.se</a>
                        </p>

                    </div>
                </div> <!-- CLOSING KONTAKT -->

            </div>

        </div>
    </div>

</section>



