@{
    ViewData["Title"] = "Företag";
}
<header class="top-page-header" id="foretag-header">
    <div class="container text-center">
        <i class="fa fa-thumbs fa-5x" aria-hidden="true"></i>
        <h1>Våra samarbetspartners</h1>
        @*<h4>Varmt välkommen till Sesam ny student!</h4>*@
        <h4></h4>
    </div>
</header>

<section id="foretag-section">
    <div class="container">
        <div class="row text-center">

            <div class="panel panel-default border-left-panel">
                <div class="panel-body ">
                    <p class="lead">
                        Vi i Sesam är väldigt glada och stolta över de samarbeten vi har med olika företag.
                    </p>
                    <p>
                        Vi anser att det är av yttersta vikt att studenter tidigt får en bra kontakt med näringslivet och får insikt i vilka framtida arbetsgivare som finns. Därför arbetar Sesam ständigt med att främja och utveckla relationen mellan studenter och näringslivets olika aktörer. Vi är dessutom en ideell organisation som är beroende av finansiering från företag som vill samarbeta med oss.
                    </p>


                </div>
            </div>
        </div>

        <div class="row text-center row-bottom-buffer">
            <h1>
                Just nu samarbetar vi med
            </h1>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <div class="col-md-3">
                        <img class="img-responsive img-rounded" src="../Images/foretag/2000px-Ikea_logo.svg.png"/>
                    </div>
                    <div class="col-md-3">
                        <img class="img-responsive img-rounded" src="../Images/foretag/academicwork.png"/>

                    </div>
                    <div class="col-md-3">
                        <img class="img-responsive img-rounded" src="../Images/foretag/drivhuset.jpg"/>

                    </div>
                    <div class="col-md-3">
                        <img class="img-responsive img-rounded" src="../Images/foretag/GrandThornton.gif"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <div class="col-md-3">
                        <img class="img-responsive img-rounded" src="../Images/foretag/2000px-Ikea_logo.svg.png"/>
                    </div>
                    <div class="col-md-3">
                        <img class="img-responsive img-rounded" src="../Images/foretag/academicwork.png"/>

                    </div>
                    <div class="col-md-3">
                        <img class="img-responsive img-rounded" src="../Images/foretag/drivhuset.jpg"/>

                    </div>
                    <div class="col-md-3">
                        <img class="img-responsive img-rounded" src="../Images/foretag/GrandThornton.gif"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <div class="col-md-3">
                        <img class="img-responsive img-rounded" src="../Images/foretag/2000px-Ikea_logo.svg.png" />
                    </div>
                    <div class="col-md-3">
                        <img class="img-responsive img-rounded" src="../Images/foretag/academicwork.png" />

                    </div>
                    <div class="col-md-3">
                        <img class="img-responsive img-rounded" src="../Images/foretag/drivhuset.jpg" />

                    </div>
                    <div class="col-md-3">
                        <img class="img-responsive img-rounded" src="../Images/foretag/GrandThornton.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>