@{
    ViewData["Title"] = "Home Page";
}

<header class="front-page-header">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="carousel-caption">
                    <i class="fa fa-question fa-5x" aria-hidden="true"></i>
                    <p>Ska du plugga ekonomi, informatik eller statistik?</p>
                    <h2>Grattis du är en Sesamit!</h2>
                    <a href="#" class="btn btn-info">Läs mer!</a>
                </div>
            </div>
            <div class="item">
                <div class="carousel-caption">

                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <h2>Håll utkik!</h2>
                    <p>
                        Vi kommer med ständiga uppdateringar till jobbmöjligheter från olika jobbaktörer.
                    </p>
                    <br/>
                    <a href="#" class="btn btn-info">Läs mer!</a>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</header>
<div class="alert alert-dismissible alert-info text-center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Senaste nytt:</strong> Unionen söker studenter till extrajobb i Örebro!
</div>
<section class="section-frontpage">
    <div class="container">
        <div class="row">

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1 class="text-center">Vad är Sesam?</h1>
                        <br />
                        <p>Sesam är en sektion i Örebro studentkår. Man har delat upp studenterna på Örebro Universitet i nio sektioner efter ämnesområden, och Sesam representerar studenter på institutionen Handelshögskolan. Om du läser ekonomi, informatik eller statistik hör du till Handelshögskolan, och därmed sektionen Sesam.</p>
                        <br />

                        <div class="row text-center">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                                <h4>
                                    Över 500
                                    unika Medlemmar!
                                </h4>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-check fa-5x" aria-hidden="true"></i>
                                <h4>
                                    En sjukt bra
                                    Introduktion!
                                </h4>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-suitcase fa-5x" aria-hidden="true"></i>
                                <h4>
                                    Samarbeten
                                    med företag!
                                </h4>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-coffee fa-5x" aria-hidden="true"></i>
                                <h4>
                                    Vår egen
                                    lounge i nova!
                                </h4>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>

                        <br />

                        <p>
                            <a class="btn btn-primary btn-lg t">Läs mer här!</a>
                        </p>

                    </div>
                </div>
            </div>


            <div class="col-md-1"></div>

        </div>
    </div>

</section>
@*<section id="news-test" class="section-news">
        <div class="container">
            <div class="row">

                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h1 class="text-center">Senaste nytt</h1>
                    <br/>
                    <div id="carousel-news-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-news-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-news-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-news-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Panel primary</h3>
                                    </div>
                                    <div class="panel-body">
                                        Panel content
                                    </div>
                                </div>
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>
                        <!-- Controls -->
                        @*<a class="left carousel-control" href="#carousel-news-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-news-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section> *@
