@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Introduktion";
}
<header class="top-page-header">
    <div class="container text-center">
        <i class="fa fa-thumbs-up fa-5x" aria-hidden="true"></i>
        <h1>Varmt välkommen nystudent!</h1>
        <h4>Ska du studera på institutionen Handelshögskolan i höst?</h4>
        <h4>Du är därmed en <strong>sesamit</strong> och har hittat helt rätt!</h4>
        <h2>
            <a href="#" class="btn btn-danger">Schema</a>

        </h2>
    </div>
</header>

<section id="intro-content">
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="lead">
                    Höstens introduktion har sin start <strong>fredag den 26 augusti </strong>och kommer pågå i ca fyra veckor fullspäckat med aktiviteter. Det hela börjar med att du hälsas välkommen av våra faddrar och delas in i grupper med faddrar och nystudenter som kommer utgöra just din introduktionsgrupp.
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="../Images/sesamLogo-medium.png" alt="...">
                </div>
            </div>
            <div class="col-md-7">
                <i class="fa fa-check fa-4x pull-right"></i>
                <p>
                    Att delta i höstens introduktion kommer vara en upplevelse att minnas för livet och du kommer lära känna otroligt mycket härligt folk. Det är med andra ord inget du kommer ångra eller vill missa.
                </p>
                <i class="fa fa-check fa-4x pull-right"></i>

                <p>
                    Du kommer lära dig hitta i staden och få uppleva både sittningar och fester med olika tema såsom pirat, färg och toga. Dessutom kommer du få avnjuta en riktig collegefest och utmana dig själv och andra på Sveriges motsvarighet till Fångarna på fortet.
                </p>
                <i class="fa fa-check fa-4x pull-right"></i>

                <p>
                    Under denna händelserika period kommer det också hållas lekar och tävlingar där Ni får möjlighet att samla värdefulla poäng i vår prestigefulla tävling som avslutas traditionsenligt med finsittningen Gasquen.
                </p>



            </div>
            <div class="col-md-1"></div>
        </div>
        <hr />
        <h1 class="text-center">Passa på att!</h1>
        <br />
        <div class="row text-center">

            <div class="col-md-3"></div>
            <div class="col-md-2">
                <i class="fa fa-users fa-5x"></i>
                <p>Träffa nytt folk som även kan bli dina framtida vänner för livet! Helt fantastiskt.</p>
            </div>
            <div class="col-md-2">
                <i class="fa fa-building-o fa-5x"></i>
                <p>Upplev Örebro på ett underbart sätt!</p>
            </div>
            <div class="col-md-2">
                <i class="fa fa-facebook fa-5x"></i>
                <p>Gå med i introduktionsgruppen på facebook!</p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <p class="lead">
                    Vi som planerar introduktionen är introduktionskommittén (IntroK), med en General och en Svamp i spetsen. Tillsammans kommer vi ge allt för att ge Sesams nya studenter bästa tänkbara introduktion och välkomna de till Örebro Kommun, Örebro Universitet och sektionen Sesam.
                </p>
                <p>Vi har också varit nya studenter och vet att det kan kännas lika spännande som nervöst att komma till ett nytt universitet och att flytta till en helt ny stad. Därför har vi i planeringen av introduktionen sett till att du som ny student ska känna dig delaktig, trygg, respekterad och extremt glad i alla våra aktiviteter.För att inte missa något vill vi att du ska gå med i vår introduktionsgrupp på</p>

            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img class="img-circle" src="../Images/svampgeneral-ola-hanna.png" alt="...">
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row text-center">

            <div class="col-md-3"></div>
            <div class="col-md-3">
                <p>
                </p>
            </div>
            <div class="col-md-3">
            </div>

            <div class="col-md-3"></div>
        </div>
        <hr />

    </div>
</section>
