@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Introduktion";
}
<header class="top-page-header" id="intro-header">
    <div class="container text-center">
        <i class="fa fa-question fa-5x" aria-hidden="true"></i>
        <h1 class="hidden-sm hidden-xs">Ska du studera ekonomi, statistik eller informatik? </h1>
        <h2 class="visible-sm visible-xs">Ska du studera ekonomi, statistik eller informatik? </h2>
    </div>
</header>

<section id="intro-content-top">
    <br />
    <div class="container">
        <div class="row">
            <div class="panel panel-default border-left-panel">
                <div class="panel-body">
                    <div class="col-md-3 col-sm-3 hidden-xs">
                        <img class="img-responsive img-padding" src="../Images/sesamLogo-medium.png" alt="...">
                    </div>
                    <div class="col-md-7">
                        <p class="lead">
                            <strong>Grattis!</strong> Du är därmed en <u>Sesamit</u> och tillhör institutionen Handelshögskolan på Örebro universitet.
                            Din tid på universitetet börjar med en introduktion där du får möjlighet att få bästa möjliga start på din studietid.
                        </p>

                        <p>
                            Höstens introduktion @*startar <strong>fredag den 28 Augusti</strong> och*@ pågår i cirka fyra veckor, fullspäckade med aktiviteter. Veckorna innehåller allt från stadsvandring, beerpongturnering till sittningar med olika teman.
                        </p>

                            <a class="btn btn-success btn-block" target="_blank" href="../Images/introduktion/schema/Introduktionsschema-HT2017.pdf">Introduktionsschema</a>
                            <!-- <h4 class="text-primary">Hela höstens introduktionsschema kommer att läggas upp  här!</h4> --> 
                        <p>Följ även introduktionen i våra kanaler:</p>

                        <div class="row text-center">
                            <div class="col-md-1 col-xs-4">
                                <a href="https://www.facebook.com/introK.Sesam?fref=ts" class="">

                                    <i class="fa fa-facebook fa-3x"></i>
                                </a>
                            </div>
                            <div class="col-md-1 col-xs-4">

                                <a href="https://www.instagram.com/introduktionensesam/" class="">

                                    <i class="fa fa-instagram fa-3x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <img class="img-responsive img-rounded img-full-width" src="../Images/introduktion/intro-ht16.jpg" alt="introduktionen hösttermin" />
            <p class="p-no-bottom-margin">
                Introduktionen HT 16
            </p>
            <br />
        </div>
        <div class="row">
            <div class="panel panel-default border-right-panel">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6 col-xs-12 ">
                            <h1>IntroK</h1>
                            <p class="">
                                Projektgruppen som planerar introduktionen är introduktionskommittén (IntroK).
                                De har, precis som du, varit nya studenter och vet att det kan kännas både spännade och nervöst att komma till ett nytt universitet/ny stad.
                            </p>
                            <p>
                                Men du behöver inte oroa dig, de har planerat introduktionen så att du alltid ska känna dig <strong class="text-primary">delaktig</strong>, <strong class="text-primary">trygg</strong>, <strong class="text-primary">respekterad</strong> och <strong class="text-primary">glad</strong> under alla aktiviteter.
                            </p>
                            <div class="hidden-xs hidden-sm">
                                <hr />
                                
                                <h3>Frågor eller funderingar?</h3>
                                <p>Tveka inte att höra av dig till höstens General och Svamp som utgör projektledarna för hela introK och introduktionen.</p>
                                <p><strong>Svamp</strong>: Daniel Wall <a href="tel:0722531007">0722531007</a>
                                </p>
                                <p><strong>General</strong>: Johanna Rosenhed <a href="tel:0761992022">0761992022</a>
                                </p>
                                <p><strong>Mail</strong>: <a href="mailto:introk@Sesamit.se">introk@sesamit.se</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <img class="img-rounded img-margin-top img-responsive" src="../Images/introduktion/introkht17/alla.png" alt="...">
                        </div>
                    </div>
                    <div class="visible-xs visible-sm">
                        <h3>Frågor eller funderingar?</h3>
                        <p>Tveka inte att höra av dig till höstens General och Svamp som utgör projektledarna för hela introK och introduktionen.</p>
                        <p><strong>Svamp</strong>: Daniel Wall <a href="tel:0722531007">0722531007</a></p>
                        <p><strong>General</strong>: Johanna Rosenhed <a href="tel:0761992022">0761992022</a></p>
                        <p><strong>Mail</strong>: <a href="mailto:introk@Sesamit.se">introk@sesamit.se</a></p>
                    </div>
                    <hr/>
                    <div class="row text-center">

                            <div class="col-md-3  col-xs-6">
                                <img class="img-circle img-full-width img-padding" src="../Images/introduktion/introkht17/generalsvamp.png" alt="...">
                                <h4>Daniel & Johanna</h4>
                                <p>
                                    <i>Svamp & General</i>
                                </p>
                            </div>
                        <div class="col-md-2 col-xs-6">
                            <img class="img-circle img-full-width img-padding" src="../Images/introduktion/introkht17/aktivitet.png" alt="...">
                            <h4>Douglas  & Lina</h4>
                            <p>
                                <i>Aktivitetsansvariga</i>
                            </p>
                        </div>
                        <div class="col-md-2 col-xs-6">

                            <img class="img-circle img-full-width img-padding" src="../Images/introduktion/introkht17/ekonomi.png" alt="...">
                            <h4>Jonathan & Sara</h4>
                            <p>
                                <i>Ekonomiansvariga</i>
                            </p>
                        </div>
                        <div class="col-md-2 col-xs-6">

                            <img class="img-circle img-full-width img-padding" src="../Images/introduktion/introkht17/fadder.png" alt="...">
                            <h4>Anton & Elise</h4>
                            <p>
                                <i>Fadderansvariga</i>
                            </p>
                        </div>
                        <div class="col-md-2  col-xs-6">

                            <img class="img-circle img-full-width img-padding" src="../Images/introduktion/introkht17/sponsor.png" alt="...">
                            <h4>Rickard & Jessica</h4>
                            <p>
                                <i>Sponsoransvariga</i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron text-center">
            
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <img class="img-responsive img-padding" src="../Images/sesamLogo-medium.png" alt="...">
                    
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <h1 class="">
                        Varmt välkommen till Sesam!
                    </h1>

                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">

                    <img class="img-responsive img-padding" src="../Images/sesamLogo-medium.png" alt="...">
                </div>
            </div>

        </div>
        <div class="scroll-top-wrapper ">
            <span class="scroll-top-inner" title="Gå till toppen av sidan">
                <i class="fa fa-2x fa-arrow-circle-up"></i>
            </span>
        </div>
    </div>
</section>
