@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Introduktion";
}
<header class="top-page-header">
    <div class="container text-center">
        <i class="fa fa-thumbs-up fa-5x" aria-hidden="true"></i>
        <h1>Ska du studera ekonomi, statistik eller informatik till hösten? </h1>
        <h4>Hej och varmt välkommen ny student!</h4>
        <h4></h4>
    </div>
</header>

<section id="intro-content-top">
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="lead">
                    <strong>Grattis!</strong> Du är därmed en <u>Sesamit</u> och tillhör institutionen Handelshögskolan på Örebro universitet.
                    Din tid på universitetet börjar med en introduktion där du får möjlighet att få bästa möjliga start på din studietid.
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="../Images/sesamLogo-medium.png" alt="...">
                </div>
            </div>
            <div class="col-md-7">
                <p>
                    Höstens introduktion startar <strong>fredag den 26 augusti</strong> och pågår i cirka fyra veckor, fullspäckade med aktiviteter. Veckorna innehåller allt från stadsvandring, beerpongturnering till sittningar med olika teman.
                </p>
                <p>
                    Hela höstens introduktionsschema finns här:
                </p>
                <a class="btn btn-primary" href="#">Schema</a>
                <hr />
                <h4 class="text-center">Följ introduktionen i våra kanaler</h4>
                <br />
                <div class="row text-center">

                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <i class="fa fa-facebook fa-5x"></i>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-instagram fa-5x"></i>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-globe fa-5x"></i>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="thumbnail">
                    
                <img class="img-responsive intro-img" src="../Images/introk/introduktion2.png" />
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">
                            Projektgruppen som planerar introduktionen är introduktionskommittén (IntroK). De har, precis som du, varit nya studenter och vet att det kan kännas både spännade och nervöst att komma till ett nytt universitet/ny stad.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <p>
                            Men du behöver inte oroa dig, de har planerat introduktionen så att du alltid ska känna dig delaktig, trygg, respekterad och glad under alla aktiviteter.
                        </p>
                        <p>
                            Har du några frågor eller funderingar? Tveka inte att höra av dig till höstens General och Svamp som utgör projektledarna för hela introK och introduktionen.
                        </p>
                        <div class="row">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object img-circle intro-k-pair-small" src="../Images/introk/generalsvamp2.png" alt="...">
                                </div>
                                <div class="media-body media-middle">
                                    <h3 class="media-heading">Svamp & General</h3>
                                    <p>
                                        <strong>Ola Vognild</strong>
                                        <br />
                                        Nummer: 0708641646
                                    </p>
                                    <p>
                                        <strong>Hanna Thuresson</strong>
                                        <br />
                                        Nummer: 0738253689
                                    </p>
                                    <p>
                                        Eller via Mail: Introk@sesamit.se
                                    </p>
                                </div>
                            </div>
                        </div>





                    </div>
                    <div class="col-md-5">
                        <div class="thumbnail text-center">
                            <img class="" src="../Images/introk/introk-seminarierum.png" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center">
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail">

                            <img class="img-circle intro-k-pair-small" src="../Images/introk/aktivitet.png" alt="...">
                            <h4>Anna & Jesper</h4>
                            <p>
                                <i>Aktivitetsansvariga</i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">

                            <img class="img-circle intro-k-pair-small" src="../Images/introk/ekonomi.png" alt="...">
                            <h4>Emelie & Calle</h4>
                            <p>
                                <i>Ekonomiansvariga</i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">

                            <img class="img-circle intro-k-pair-small" src="../Images/introk/fadder.png" alt="...">
                            <h4>Christoffer & Alice</h4>
                            <p>
                                <i>Fadderansvariga</i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">

                            <img class="img-circle intro-k-pair-small" src="../Images/introk/sponsor.png" alt="...">
                            <h4>Andreas & Lovisa</h4>
                            <p>
                                <i>Sponsoransvariga</i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>
