@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Introduktion";
}
<header class="top-page-header">
    <div class="container text-center">
        <i class="fa fa-thumbs-up fa-5x" aria-hidden="true"></i>
        <h4>Hej och varmt välkommen ny student!</h4>
        <h1>Ska du studera ekonomi, statistik eller informatik till hösten? </h1>
        <h4></h4>
    </div>
</header>

<section id="intro-content-top">
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="lead">
                    <strong>Grattis!</strong> Du är därmed en <u>Sesamit</u> och tillhör institutionen Handelshögskolan på Örebro universitet.
                    Din tid på universitetet börjar med en introduktion där du får möjlighet att få bästa möjliga start på din studietid.
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img src="../Images/sesamLogo-medium.png" alt="...">
                </div>
            </div>
            <div class="col-md-8">

                <p>
                    Höstens introduktion startar <strong>fredag den 26 augusti</strong> och pågår i cirka fyra veckor, fullspäckade med aktiviteter. Veckorna innehåller allt från stadsvandring, beerpongturnering till sittningar med olika teman.
                </p>

                <p>
                    Hela höstens introduktionsschema finns här:
                </p>
                <a class="btn btn-primary" href="#">Schema</a>
            </div>
            <div class="col-md-2"></div>
        </div>
        <hr />
        <br />

        <div class="row">

            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="lead">
                            Projektgruppen som planerar introduktionen är introduktionskommittén (IntroK). De har, precis som du, varit nya studenter och vet att det kan kännas både spännade och nervöst att komma till ett nytt universitet/ny stad.
                        </p>
                        <p>
                            Men du behöver inte oroa dig, de har planerat introduktionen så att du alltid ska känna dig delaktig, trygg, respekterad och glad under alla aktiviteter.
                        </p>
                        <p>
                            Har du några frågor eller funderingar? Tveka inte att höra av dig till höstens General och Svamp som utgör projektledarna för hela introK och introduktionen.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail text-center">
                    <div class="caption">
                        <h3>Svamp & General</h3>
                        <img class="img-circle" src="../Images/svampgeneral-ola-hanna.png" alt="...">
                        <p>
                            General: Hanna Thuresson.
                            <br />
                            Nummer: 0738253689
                            <br />
                            Svamp: Ola Vognild.
                            <br />
                            Nummer: 0708641646
                            <br />
                            <br />
                            Eller via Mail:
                            Introk@sesamit.se
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>

        </div>
        <div class="row">
            <div class="col-md-1"></div>
            
            <div class="col-md-3">
                <div class="thumbnail text-center">
                    <div class="caption">
                        <h3>Aktivitetsansvariga</h3>
                        <img class="img-circle" src="../Images/introk/aktivitet.jpg" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail text-center">
                    <div class="caption">
                        <h3>Aktivitetsansvariga</h3>
                        <img class="img-circle" src="../Images/introk/aktivitet.jpg" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail text-center">
                    <div class="caption">
                        <h3>Aktivitetsansvariga</h3>
                        <img class="img-circle" src="../Images/introk/aktivitet.jpg" alt="...">
                    </div>
                </div>
            </div>
            
            <div class="col-md-1"></div>

        </div>

    </div>
</section>
<section>
    <div class="container">
        <hr />
        <h3 class="text-center">Följ introduktionen i våra kanaler</h3>
        <br />
        <br />
        <div class="row text-center">

            <div class="col-md-3"></div>
            <div class="col-md-2">
                <i class="fa fa-facebook fa-5x"></i>
            </div>
            <div class="col-md-2">
                <i class="fa fa-instagram fa-5x"></i>
            </div>
            <div class="col-md-2">
                <i class="fa fa-globe fa-5x"></i>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <hr />
        <br />
    </div>

</section>



