@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Introduktion";
}
<header class="top-page-header" id="intro-header">
    <div class="container text-center">
        <i class="fa fa-question fa-5x" aria-hidden="true"></i>
        <h1 class="hidden-sm hidden-xs">Ska du studera ekonomi, statistik eller informatik till hösten? </h1>
        <h2 class="visible-sm visible-xs">Ska du studera ekonomi, statistik eller informatik till hösten? </h2>
    </div>
</header>

<section id="intro-content-top">
    <br />
    <div class="container">
        <div class="row">
            <div class="panel panel-default border-left-panel">
                <div class="panel-body">
                    <div class="col-md-3 col-sm-3 hidden-xs">
                        <img class="img-responsive img-padding" src="../Images/sesamLogo-medium.png" alt="...">
                    </div>
                    <div class="col-md-7">
                        <p class="lead">
                            <strong>Grattis!</strong> Du är därmed en <u>Sesamit</u> och tillhör institutionen Handelshögskolan på Örebro universitet.
                            Din tid på universitetet börjar med en introduktion där du får möjlighet att få bästa möjliga start på din studietid.
                        </p>

                        <p>
                            Vårens introduktion startar <strong>fredag den 13 januari</strong> och pågår i cirka fyra veckor, fullspäckade med aktiviteter. Veckorna innehåller allt från stadsvandring, beerpongturnering till sittningar med olika teman.
                        </p>

                        <p class="text-primary">
                            @*<a class="btn btn-success" target="_blank" href="../Images/introduktion/schema/Introschema HT 2016.pdf"> Hela vårens introduktionsschema finns här</a>*@
                            <h4 class="text-primary">Hela vårens introduktionsschema kommer att läggas upp  här!</h4>
                        </p>

                        <p>Följ även introduktionen i våra kanaler:</p>

                        <div class="row text-center">
                            <div class="col-md-1 col-xs-4">
                                <a href="https://www.facebook.com/introK.Sesam?fref=ts" class="">

                                    <i class="fa fa-facebook fa-3x"></i>
                                </a>
                            </div>
                            <div class="col-md-1 col-xs-4">

                                <a href="https://www.instagram.com/introduktionensesam/" class="">

                                    <i class="fa fa-instagram fa-3x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <img class="img-responsive img-rounded img-full-width" src="../Images/introduktion/introk/introduktion2.png" alt="introduktionen ht 15" />
            <p class="p-no-bottom-margin">
                Introduktionen HT 15
            </p>
            <br />
        </div>
        <div class="row">
            <div class="panel panel-default border-right-panel">
                <div class="panel-body">
                    <h1>IntroK</h1>
                    <div class="row ">
                        <div class="col-md-8 col-xs-12 ">
                            <p class="">
                                Projektgruppen som planerar introduktionen är introduktionskommittén (IntroK).
                                De har, precis som du, varit nya studenter och vet att det kan kännas både spännade och nervöst att komma till ett nytt universitet/ny stad.
                            </p>
                            <p>
                                Men du behöver inte oroa dig, de har planerat introduktionen så att du alltid ska känna dig delaktig, trygg, respekterad och glad under alla aktiviteter.
                                Har du några <strong>frågor eller funderingar?</strong> Tveka inte att höra av dig till höstens General och Svamp som utgör projektledarna för hela introK och introduktionen.
                            </p>
                            <p><strong>Svamp:</strong> Anton Weman</p>
                            <p>
                                <strong>General:</strong> Ida Holme
                            </p>
                            Kontakt: <a href="mailto:introk@Sesamit.se">introk@sesamit.se</a>

                        </div>
                        <div class="col-md-4 col-xs-12">
                            <img class="img-rounded img-margin-top img-responsive" src="../Images/introduktion/introkvt17/svampgeneral.jpg" alt="...">

                            @*<div class="media">
                                    <div class="media-left">
                                        <img class="media-object img-rounded" src="../Images/introduktion/introk/generalsvamp-ola-hanna2.png" alt="...">
                                    </div>
                                    <div class="media-body media-middle">
                                        <h3 class="media-heading">Svamp & General</h3>
                                        <p>
                                            <strong>Ola Vognild</strong>
                                            <br />
                                            Nummer: 0708641646
                                        </p>
                                        <p>
                                            <strong>Hanna Thuresson</strong>
                                            <br />
                                            Nummer: 0738253689
                                        </p>
                                        <p>
                                            Eller via Mail:
                                            <a href="mailto:introk@Sesamit.se">
                                                introk@sesamit.se
                                            </a>
                                        </p>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    @*<hr />*@
                    @*<div class="row text-center">
                            <div class="col-md-3 col-xs-6">
                                <img class="img-circle img-full-width img-padding" src="../Images/introduktion/introk/aktivitet.png" alt="...">
                                <h4>Anna & Jesper</h4>
                                <p>
                                    <i>Aktivitetsansvariga</i>
                                </p>
                            </div>
                            <div class="col-md-3 col-xs-6">

                                <img class="img-circle img-full-width img-padding" src="../Images/introduktion/introk/ekonomi.png" alt="...">
                                <h4>Emelie & Calle</h4>
                                <p>
                                    <i>Ekonomiansvariga</i>
                                </p>
                            </div>
                            <div class="col-md-3 col-xs-6">

                                <img class="img-circle img-full-width img-padding" src="../Images/introduktion/introk/fadder.png" alt="...">
                                <h4>Christoffer & Alice</h4>
                                <p>
                                    <i>Fadderansvariga</i>
                                </p>
                            </div>
                            <div class="col-md-3 col-xs-6">

                                <img class="img-circle img-full-width img-padding" src="../Images/introduktion/introk/sponsor.png" alt="...">
                                <h4>Andreas & Lovisa</h4>
                                <p>
                                    <i>Sponsoransvariga</i>
                                </p>
                            </div>
                            <div class="col-md-2"></div>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="jumbotron text-center">


            <h1 class="">
                Varmt välkommen till Sesam!
            </h1>
        </div>
    </div>
</section>
