@model Sesamit.Models.HomeViewModels.NyheterBloggViewModel

@{
    ViewData["Title"] = "Jobbmöjligheter";
}
<header id="jobbmojligheter-header" class="top-page-header text-center">

    <div class="container">
        <i class="fa fa-briefcase fa-5x"></i>
        <h1 class="hidden-sm hidden-xs">Jobbmöjligheter</h1>
        <h2 class="visible-sm visible-xs">Jobbmöjligheter</h2>
    </div> 

</header>
<section id="section-blogg">
    <div class="container">
        <div class="col-md-12">

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>
                            KPMG SME (Små och medelstora bolag) Stockholm
                            <small>
                                <span class="text-capitalize pull-right">Jobbmöjlighet</span>
                                Datum: 30/9-2016
                            </small>
                        </h2>
                        <p>
                            <i>
                                KPMG jobbar för att göra skillnad och förbättra framtiden för våra kunder. Vi drivs av att förmedla affärsmässiga
                                insikter och erbjuder branschspecifika och kvalificerade tjänster inom revision, skatt och rådgivning. Genom vårt
                                globala nätverk är vi ett av världens ledande kunskapsföretag med 162 000 specialister i 155 länder. I Sverige har
                                vi stark lokal förankring med 1 600 medarbetare på 60 orter.
                            </i>
                        </p>

                        <h3>KPMG SME (Små och medelstora bolag) Stockholm</h3>

                        <p>
                            Vi på KPMG SME står inför en spännande resa och söker medarbetare som vill växa med oss. Vi är för tillfället ca
                            80 medarbetare som arbetar främst med mindre och medelstora företag, föreningar och stiftelser i
                            Stockholmsregionen. Vi sitter i nya fräscha och inspirerande lokaler i Arenastaden i Solna. Som revisorsassistent
                            hos oss får du chans att vara med om en spännande resa och växa i en föränderlig miljö med fokus på ständig
                            förbättring och utveckling av verksamheten. Rollen kommer även att ge dig insikt i och förståelse för de frågor
                            som våra kunder ställs inför. Varje dag innebär nya utmaningar, nya möten, nya affärsperspektiv och möjligheter.
                        </p>

                        <h3> Vi söker revisorsassistenter med start december 2016/januari 2017 som vill göra skillnad</h3>

                        <p>
                            Just nu söker vi dig som har viljan och engagemanget att tryggt och säkert leda våra kunder mot en positiv
                            utveckling. Du är lyhörd, har lätt för att kommunicera och har intresset, viljan och förmågan att hjälpa andra. Vi
                            värdesätter att du är noggrann och väl medveten om mål och kvalitetsstandard samt att du lägger stor vikt vid att
                            leva upp till dessa. Vi ser gärna att du är en initiativrik person som sätter i gång aktiviteter samt uppnår resultat.
                            Du har ett flexibelt förhållningssätt, gillar att se saker ur flera perspektiv och ser möjligheter till förändring. Du som
                            söker är nyutexaminerad ekonom. I tillägg till detta har du ett stort intresse för organisationer och dess
                            verksamhet. En förutsättning är att du vid tjänstens tillträde uppfyller revisorsnämndens teoretiska krav för
                            auktorisation. (Du kan läsa mer på www.revisorsnamnden.se).
                        </p>

                        <h3>Vi erbjuder</h3>

                        <p>
                            Som medarbetare på KPMG SME Stockholm kommer du att få vara med om en spännande resa på ett
                            inspirerande kontor och stort tillväxtfokus. Detta gör att det kommer att finnas goda utvecklingsmöjligheter med
                            flera utmaningar. Vi erbjuder dig ett omväxlande och ansvarsfullt arbete med nära kundkontakter. Tempot är ofta
                            högt med många möjligheter till stimulerande sociala kontakter, ständiga förändringar och kunskapsutveckling.
                            KPMG erbjuder även ett omfattande internt utbildnings- och utvecklingsprogram.
                        </p>

                        <h3>Vill du bli en av oss?</h3>

                        <p>
                            Vill du veta mer om tjänsten som revisorsassistent hos oss på KPMG SME Stockholm är du varmt välkommen att
                            kontakta Emma Larsson, Rekryterare, emma.larsson@kpmg.se, 08–723 98 05.
                        </p>

                        <h3>Ansökan</h3>

                        <p>
                            Du ansöker till tjänsten online på www.kpmg.se/ledigatjanster. Din ansökan ska bestå av CV, personligt brev och
                            betygskopior från gymnasium och universitet. Då vi arbetar med löpande urval ser vi gärna att du skickar in din
                            ansökan så snart som möjligt, dock senast den 21 oktober 2016.
                        </p>
                        <h3>
                            Varmt välkommen med din ansökan!
                        </h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>
                            Audit Associates till Stockholm med start i augusti 2017
                            <small>
                                <span class="text-capitalize pull-right">Jobbmöjlighet</span>
                                Datum: 26/8-2016
                            </small>
                        </h2>
                        <p class="lead">
                            Är du en ekonomstudent med examen i sikte som söker en arbetsgivare som sätter din

                            personliga utveckling i fokus? Vi på KPMG söker drivna talanger som vill axla rollen som

                            Audit Associate i en global miljö med unika karriärmöjligheter.
                        </p>
                        <h4>Din roll som Audit Associate på KPMG </h4>
                        <p>
                            Som Audit Associate (revisorsassistent) arbetar du med ett flertal team med kvalificerade

                            medarbetare från olika verksamhetsområden inom KPMG. Teamen du arbetar med är

                            skräddarsydda för att möta specifika förfrågningar och förväntningar från våra kunder.

                            Tillsammans med dina kollegor skapar du dig en uppfattning om dina kunders verksamhet och

                            om risker och möjligheter. En revision innehåller många spännande delar, alltifrån intervjuer med

                            nyckelpersoner till granskning av företagsspecifika processer, siffror och finansiella rapporter. Du

                            får arbeta i en roll som innebär nya utmaningar, nya möten och nya affärsperspektiv på daglig

                            basis.
                        </p>


                        <h4>KPMG - Ett globalt nätverk med fokus på dina personliga karriärmål</h4>

                        <p>
                            Även om du som anställd hos oss arbetar i team lägger vi även fokus på dig. Du blir som anställd

                            hos oss tilldelad en Performance Manager som blir din egen karriärcoach. Tillsammans lägger ni

                            upp din individuella utvecklingsplan redan när du påbörjar din anställning. Vi vill att våra

                            medarbetares karriär ska präglas av tydlighet och möjlighet för individen att påverka, vilket vi

                            tillgodoser genom vår karriärtrappa. En karriär inom Audit på KPMG ger dig tidigt en inblick i

                            näringslivets kärna, kundernas verksamheter samt ett brett affärsperspektiv och kunskap om

                            olika branscher.
                        </p>

                        <h4>Vem vill vi träffa?</h4>

                        <p>
                            Gemensamt för de medarbetare som vi anställer på KPMG är att de är prestigelösa,

                            teamorienterade och drivna personer med förmågan att bygga relationer och skapa

                            affärskontakter. Vi är noga med vilka vi väljer att gå vidare med i denna process och söker därför

                            dig som på något sätt utmärker dig. Din examen och dina meriter vid sidan av studierna visar

                            därför på tydligt driv och engagemang i form av studieresultat och åtaganden så som arbete eller

                            föreningsengagemang. Vidare har du goda kunskaper i svenska och engelska samt ett stort

                            intresse för revision. En förutsättning är att du vid tjänstens tillträde har en examen inom ekonomi

                            och uppfyller revisorsnämndens teoretiska krav för auktorisation. Du kan läsa mer om kraven på

                            Revisorsnämndens hemsida www.revisorsnamnden.se
                        </p>

                        <h4>Vill du bli en av oss?</h4>

                        <p>
                            Om du tror att du är rätt person för rollen och vill anta en ny utmaning ser vi fram emot din

                            ansökan innehållande CV, personligt brev, betygskopior från universitet/högskola samt

                            gymnasiebetyg. Vi kommer att intervjua intressanta kandidater löpande med start omgående.

                            <strong> Ansök senast den 30 september 2016.</strong>


                        </p>
                        <h4>
                            Kontakta oss gärna för frågor om KPMG eller om rekryteringsprocessen
                        </h4>
                        <p>

                            Att välja framtida arbetsgivare och karriär är ett viktigt val.
                            Har du frågor gällande KPMG som

                            arbetsplats eller om vår rekryteringsprocess är du välkommen att kontakta
                        </p>
                        <p>

                            <strong>Emma Larsson</strong>,
                            <a href="mailto:emma.larsson@kpmg.se">emma.larsson@kpmg.se</a>, <a href="tel:0729920573">0729-920573</a> eller <strong>Katarina Tisner</strong>, <a href="mailto:katarina.tisner@kpmg.se">katarina.tisner@kpmg.se</a>, <a href="tel:0709
                                528648">
                                0709-
                                528648
                            </a>.
                        </p>



                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
