@{
    ViewData["Title"] = "MEGAN";
}

<header id="sesamvagen-header" class="top-page-header header-responsive-fix">
    <div class="jumbotron jumbotron-transparent text-center">
        <h1 class="hidden-sm hidden-xs">MEGAkonferensen</h1>
    </div>
</header>

<section class="section-campusmassan section-small-padding">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <p class="lead">Andra helgen i november kommer Sesam stå värd för en fyradagars konferens för 200 engagerade studenter från Universitet och högskolor från alla delar av Sverige. Konferensen pågår torsdag till söndag och är proppad av allt från häftiga föreläsningar till roliga sittningar. Vill du vara en del av den projektgrupp som planerar och genomför allt detta? SÖK Megakonferensens projektgrupp nu!</p>

            <p>Nedan följer en kort beskrivning av de olika ansvarsområdena som finns. Vet du inte vilken post som passar dig bäst - sök ändå så hjälper vi dig att hitta den roll som du är perfekt för.</p>

            <p>Sök genom att maila namn, telefonnummer, eventuell post samt en kort beskrivning av dig själv och tidigare erfarenheter till <a href="mailto:elvira.gunnarsson@sero.nu">elvira.gunnarsson@sero.nu</a> eller <a href="mailto:victoria.hansson@sero.nu">victoria.hansson@sero.nu</a> senast den 8 april.</p>
        </div>
    </div>
</section>
<section class="section-campusmassan ">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-2" >
                <div class="panel panel-default panel-megan" >
                    <div class="panel-heading">
                        Ekonomiansvarig
                    </div>
                    <div class="panel-body">
                        <p>Är du en strukturerad och ansvarsfull person med erfarenhet av ekonomi och administrativt arbete? Som ekonomiansvarig i projektgruppen ansvarar du bland annat för upprättande av budget, den löpande bokföringen, betalning av fakturor samt bokslut.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="panel panel-default panel-megan">
                    <div class="panel-heading">
                        Näringslivsansvarig
                    </div>
                    <div class="panel-body">
                        <p>
                            Ett brinnande intresse för sälj samt god social förmåga är två viktiga egenskaper för posten näringslivsansvarig. Du som näringslivsansvarig har ansvar för att värva och värna om sponsorer till konferensen. Näringslivsansvarig har även ansvar för upprättandet av avtal samt avtalsuppfyllnad. Till denna post söker vi två personer.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="panel panel-default panel-megan">
                    <div class="panel-heading ">
                        Marknadsföringsansvarig
                    </div>
                    <div class="panel-body">
                        <p>
                            Är du en person som är duktig på grafisk produktion och älskar kommunikation? Marknadsföringsansvarig i projektgruppen ansvarar för allt grafiskt material, uppdatering av sociala medier samt presskontakter.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="panel panel-default panel-megan">
                    <div class="panel-heading">
                        Arrangemangsansvarig
                    </div>
                    <div class="panel-body">
                        <p>
                            Kreativitet i kombination med ett sinne för detaljer är egenskaper som passar utmärkt för denna post. Som arrangemangsansvarig delar du tillsammans med en till person på ansvaret för planering och genomförande av konferensens sittningar. Dessutom är du ansvarig för all planering kring konferensens måltider så som frukost lunch och middagar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="panel panel-default panel-megan">
                    <div class="panel-heading">
                        Funktionärsansvarig
                    </div>
                    <div class="panel-body">
                        <p>
                            För den sociale och lösningsorienterade personen är posten som funktionärsansvarig som klippt och skuren. Du ansvarar för rekrytering av konferensens funktionärer och all övrig planering kopplat till detta. Denna post är perfekt för någon som både uppskattar mycket kontakt med andra människor samt strukturering och planeringsarbete.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="panel panel-default panel-megan">
                    <div class="panel-heading ">
                        Föreläsningsansvarig
                    </div>
                    <div class="panel-body">
                        <p>
                            Är du kreativ och är bra på att se saker ur ett helhetsperspektiv? Som föreläsningsansvarig ser du till att deltagarna får en inspirerande och innehållsrik konferens genom givande föreläsningar och workshops.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default panel-megan">
                    <div class="panel-heading">
                        Logistikansvarig
                    </div>
                    <div class="panel-body">
                        <p>
                            Gillar du organisering, problemlösning och har alltid läget under kontroll? Som logistikansvarig har du ansvar för lokaler, transporter och boende för både våra deltagare och våra föreläsare. För denna post är det viktigt att vara strukturerad och ansvarsfull.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>