@{
    ViewData["Title"] = "MEGAN";
}

<header id="megan-header" class="top-page-header header-responsive-fix">
    <div class="jumbotron jumbotron-transparent text-center">
    </div>
</header>

<section class="section-campusmassan section-small-padding">
    <div class="container">
        <div class="row text-center">
            <h1>MEGAkonferensen</h1>
            <hr/>
        </div>
        <div class="col-md-8 col-md-offset-2">

            <p class="lead">
                Andra helgen i november kommer Sesam tillsammans med S.E.R.O. stå

                värd för Megakonferensen 2017. Konferensen är en fyradagars konferens

                för 200 engagerade studenter från universitet och högskolor från alla delar

                av Sverige. Den pågår torsdag till söndag och är proppad av allt från häftiga

                föreläsningar till roliga sittningar.
            </p>

            



        </div>
    </div>
</section>
<section class="section-megan-pg section-background-grey section-small-padding">
    <div class="container text-center">
        <div class="row">
            <h2>Projektgruppen</h2>
            <p>
                Megakonferensen planeras och genomförs av en projektgrupp på tolv personer med två projektledare i spetsen.
                Utöver detta kommer även funktionärer behövas till konferensen. Är du sugen på att vara funktionär?
            </p>
            <p>
                <a href="~/images/megan/Funktionär-Megakonferensen-2017.pdf" target="_blank">KLICKA HÄR FÖR ATT LÄSA MER</a>
            </p>
            <p>
                Har du andra frågor angående konferensen? Tveka inte på att kontakta någon i projektgruppen genom att maila förnamn.efternamn@sero.nu eller
                besök den officiella hemsidan:<br /> <a href="http://www.sero.nu/megakonferensen" target="_blank">www.sero.nu/megakonferensen</a>
            </p>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-megan">
                    <div class="panel-body">
                        <h4> Projektledare</h4>
                        <br />
                        <img class="img-responsive" id="img-megan.img-responsive" src="~/images/megan/VICTORIA-ELVIRA.png" alt="projektledarna" />
                        <p>Victoria Hansson & Elvira Gunnarsson</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default panel-megan">
                    <div class="panel-body">
                        <h4>Näringslivsansvariga</h4>
                        <br />
                        <img class="img-responsive" src="~/images/megan/RASMUS-HANNA.png" alt="" />
                        <p>Rasmus Lundin & Hanna Thuresson</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default panel-megan">
                    <div class="panel-body">
                        <h4> Ekonomiansvarig & Marknadsföringsansvarig</h4>
                        <img class="img-responsive" src="~/images/megan/PERNILLA-LISA.png" alt="" />
                        <p>Pernilla Andreasson & Lisa Lindahl</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default panel-megan">
                    <div class="panel-body">
                        <h4>Arrangemangsansvariga</h4>
                        <br />
                        <img class="img-responsive" src="~/images/megan/LISA-IDA.png" alt="" />
                        <p>
                            Lisa Anundi & Ida Söderling Petersson
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4  col-sm-4">
                <div class="panel panel-default panel-megan">
                    <div class="panel-body">
                        <h4>Föreläsningsansvarig & Funktionärsansvarig</h4>
                        <img class="img-responsive" src="~/images/megan/CALLE-AMANDA.png" alt="" />
                        <p>Calle Richter & Amanda Reimertz</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4  col-sm-4">
                <div class="panel panel-default panel-megan">
                    <div class="panel-body">
                        <h4>Logistikansvariga</h4>
                        <br />
                        <img class="img-responsive" src="~/images/megan/MATTIAS-LINNEA.png" alt="" />
                        <p>Mattias Holm & Linnea Nilsfors</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-top-wrapper ">
            <span class="scroll-top-inner" title="Gå till toppen av sidan">
                <i class="fa fa-2x fa-arrow-circle-up"></i>
            </span>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="h1-padding">
            <h1 class="text-center">Huvudsponsorer</h1>
        </div>
        
        <div class="row">
            <!--Sponsor-->
            <div class="clearfix visible-xs-block"></div>
            <div class="col-md-6 col-xs-6 col-sm-6">
                <a href="https://www.grantthornton.se/" class="btn" target="_blank">

                    <img class="img-responsive img-rounded" src="../Images/megan/sponsorer/GT.jpg" />
                </a>
            </div>
            <!--Slut Sponsor-->
            <!--Sponsor-->
            <div class="col-md-6 col-xs-6 col-sm-6">
                <a href="https://civilekonomerna.se/" class="btn" target="_blank">

                    <img class="img-responsive img-rounded" src="../Images/megan/sponsorer/civilekonomernagoogle.png" />
                </a>
            </div>
            <!--Slut Sponsor-->
        </div>
        <div class="h2-margin-top">
            <h2 class="text-center h1-margin">Sponsorer</h2>
        </div>
        <div class="row">
            <!--Sponsor-->
            <div class="col-md-3 col-xs-6 col-sm-3">
                <a href="https://barebells.se/" class="btn" target="_blank">
                    <img class="img-responsive img-rounded" src="../Images/megan/sponsorer/Barebells_Logo_Black.png" />
                </a>
            </div>
            <!--Slut sponsor-->
            <!--Sponsor-->
            <div class="col-md-3 col-xs-6 col-sm-3">
                <a href="http://sero.nu/" class="btn" target="_blank">
                    <img class="img-responsive img-rounded" src="../Images/megan/sponsorer/SERO_logo_PMS.jpg" />
                </a>
            </div>
            <!--Slut sponsor-->
            <!--Sponsor-->
            <div class="col-md-3 col-xs-6 col-sm-3">
                <a href="https://www.hertz.se" class="btn" target="_blank">
                    <img class="img-responsive img-rounded" src="../Images/megan/sponsorer/Hertz logo.png" />
                </a>
            </div>
            <!--Slut sponsor-->
            <!--Sponsor-->
            <div class="col-md-3 col-xs-6 col-sm-3">
                <a href="https://www.kakservice.se/" class="btn" target="_blank">
                    <img class="img-responsive img-rounded" src="../Images/megan/sponsorer/kakservice logotyp.png" />
                </a>
            </div>
            <!--Slut sponsor-->
        </div>
        <div class="row">
            <!--Sponsor-->
            <div class="col-md-3 col-xs-6 col-sm-3">
                <a href="https://www.carlwiking.com/" class="btn" target="_blank">
                    <img class="img-responsive img-rounded" src="../Images/megan/sponsorer/Carl_Wiking_logo_WEBB.png" />
                </a>
            </div>
            <!--Slut sponsor-->
        </div>
    </div>
</section>