@{
    ViewData["Title"] = "MEGAN";
}

<header id="megan-header" class="top-page-header header-responsive-fix">
    <div class="jumbotron jumbotron-transparent text-center">
        <h1 class="hidden-sm hidden-xs">MEGAkonferensen</h1>
        <h1 class="visiible-sm visible-xs ">MEGAkonferensen</h1>
    </div>
</header>

<section class="section-campusmassan section-small-padding">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">

            <p class="lead">
                Andra helgen i november kommer Sesam tillsammans med S.E.R.O. stå

                värd för Megakonferensen 2017. Konferensen är en fyradagars konferens

                för 200 engagerade studenter från Universitet och högskolor från alla delar

                av Sverige. Den pågår torsdag till söndag och är proppad av allt från häftiga

                föreläsningar till roliga sittningar.
            </p>

            <p>
                Megakonferensen planeras och genomförs av en projektgrupp på tolv

                personer med två projektledare i spetsen. Utöver detta kommer även

                funktionärer behövas till konferensen. Är du sugen på att vara funktionär?

                Eller vill veta mer om konferensen? Tveka inte på att höra av dig till någon i

                projektgruppen.
            </p>

            <p>förnamn.efternamn@sero.nu</p>



        </div>
    </div>
</section>
<section class="section-megan-pg section-background-grey section-small-padding">
    <div class="container text-center">
        <div class="row">
            <h2>Projektgruppen</h2>
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-megan">
                    <div class="panel-body">
                        <h4> Projektledare</h4>
                        <img class="img-responsive" src="~/images/megan/VICTORIA-ELVIRA.png" alt="projektledarna"/>
                        <p>Victoria Hansson & Elvira Gunnarsson</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default panel-megan">
                    <div class="panel-body">
                        <h4>Näringslivsansvarig</h4>
                        <img class="img-responsive" src="~/images/megan/RASMUS-HANNA.png" alt="" />
                        <p>Rasmus Lundinn & Hanna Thuresso</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default panel-megan">
                    <div class="panel-body">
                        <h4> Ekonomiansvarig & Marknadsföringsansvarig</h4>
                        <img class="img-responsive" src="~/images/megan/PERNILLA-LISA.png" alt=""/>
                        <p>Pernilla Andreasson & Lisa Lindahl</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default panel-megan">
                    <div class="panel-body">
                        <h4>Arrangemangsansvarig</h4>
                        <img class="img-responsive" src="~/images/megan/LISA-IDA.png" alt=""/>
                        <p>
                            Lisa Anundi & Ida Söderling Petersson
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="col-md-4  col-sm-4">
                <div class="panel panel-default panel-megan">
                    <div class="panel-body">
                        <h4>Föreläsningsansvarig & Funktionärsansvarig</h4>
                        <img class="img-responsive" src="~/images/megan/CALLE-AMANDA.png" alt="" />
                        <p>Calle Richter & Amanda Reimertz</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4  col-sm-4">
                <div class="panel panel-default panel-megan">
                    <div class="panel-body">
                        <h4>Logistikansvarig</h4>
                        <img class="img-responsive" src="~/images/megan/MATTIAS-LINNEA.png" alt="" />
                        <p>Mattias Holm & Linnea Nilsfors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>