@model Sesamit.Models.HomeViewModels.NyheterBloggViewModel

@{
    ViewData["Title"] = "Mentorskapsprojektet";
}
<header id="jobbmojligheter-header" class="top-page-header text-center">

    <div class="container">
        <i class="fa fa-users fa-5x"></i>
        <h1 class="hidden-sm hidden-xs">Mentorskapsprojektet</h1>
        <h2 class="visible-sm visible-xs">Mentorskapsprojektet</h2>
    </div>

</header>
<section class="section-small-padding">
    <div class="container">
        <div class="jumbotron jumbotron-transparent text-center">
            <h1><i class="fa fa-info fa-blue fa-2x"></i></h1>
            <h3>Juseks mentorskapsprojekt i samarbete med Sesam vänder sig till dig som är studerande eller yrkesverksam inom ekonomi, systemvetenskap eller statistik. Med projektet ger vi dig chansen att samla nya erfarenheter samt utöka ditt kontaktnätverk!</h3>
        </div>
    </div>
</section>
<section id="" class="section-padding section-background-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Under vårterminen öppnar anmälan för adepter och mentorer som sedan kommer att matchas ihop utifrån respektives önskemål. Mentorskapsprojektet inleds med en kick-off i början av höstterminen, därefter träffas adept och mentor efter överenskommelse under ett år. Vid träffarna ges chansen att utbyta tankar, erfarenheter och bolla idéer med varandra. Förutom kick-offen anordnas även en halvårsträff som samtliga mentorer och adepter bjuds in till. </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6">
                <h2>För dig som mentor:</h2>
                <p>Förutom den fantastiska möjligheten att hjälpa en student i början av sin karriär, förses du med nya infallsvinklar, kunskap och kompetens som kan vara givande på din arbetsplats. Med ert engagemang som mentor hjälper och inspirerar du framtidens medarbetare.</p>
            </div>
            <div class="col-md-6">
                <h2>För dig som adept:</h2>
                <p>De flesta studenter får genom sin utbildning goda teoretiska kunskaper, som adept får du också en unik inblick i hur det praktiska arbetet går till inom din bransch. Under tidigare år har mentorskapet även visat sig vara betydelsefullt vid uppsatsskrivande, något som gynnat både student som mentor. </p>
                <hr/>
            </div>
        </div>



    </div>
</section>

<section class="section-small-padding">
    <div class="container">
        <div class="jumbotron jumbotron-transparent text-center">
            <p>Handbok för mentorer och adepter: <a href="https://www.jusek.se/globalassets/images/affischer/handbok_for_mentorer_adepter.pdf" target="_blank">https://www.jusek.se/globalassets/images/affischer/handbok_for_mentorer_adepter.pdf</a></p>
            <p>Kontakt: <a href="mailto:mentorskap@sesamit.se">mentorskap@sesamit.se</a></p>
        </div>
    </div>
    <div class="scroll-top-wrapper ">
        <span class="scroll-top-inner" title="Gå till toppen av sidan">
            <i class="fa fa-2x fa-arrow-circle-up"></i>
        </span>
    </div>
</section>