@{
    ViewData["Title"] = "Samarbetspartners";
}
<header class="top-page-header" id="partners-header">
    <div class="container text-center">
        <i class="fa fa-briefcase fa-5x"></i>
        <h1 class="hidden-sm hidden-xs">Samarbetspartners</h1>
        <h2 class="visible-sm visible-xs">Samarbetspartners</h2>
    </div>
</header>

<section id="foretag-section">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12">
                <div class="panel panel-default border-left-panel">
                    <div class="panel-body ">
                        <h2>
                            Vi i Sesam är väldigt glada och stolta över de samarbeten vi har med olika företag!
                        </h2>
                        <p>
                            Vi anser att det är av yttersta vikt att studenter tidigt får en bra kontakt med näringslivet och får insikt i vilka framtida arbetsgivare som finns.
                            Därför arbetar Sesam ständigt med att främja och utveckla relationen mellan studenter och näringslivets olika aktörer. Vi är dessutom en ideell organisation som är beroende av finansiering från företag som vill samarbeta med oss.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <i class="fa fa-exclamation fa-1x pull-right"></i>

                        <h2 class="panel-title text-uppercase">Företag</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            Sesam är ständigt på jakt efter <strong>nya partners</strong> för att skapa unika och intressanta kontakter för både studenter och företag. Vi kan hjälpa till med allt från rekrytering till att bygga ett starkt varumärke bland våra studenter.
                        </p>
                        <p>
                            Kanske behöver ditt företag hjälp med att rekrytera studenter med färska kunskaper inom ekonomi, statistik eller informatik? Eller vill ni helt enkelt synas bland studenter i olika sammanhang?
                        </p>
                        <p>
                            Kontakta: <a href="mailto:naringsliv@sesamit.se">naringsliv@sesamit.se</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-question fa-1x pull-right"></i>
                        <h2 class="panel-title text-uppercase">Student</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            Är du student och vill komma i kontakt med någon av våra Samarbetspartners?
                        </p>
                        <p>
                            Kontakta: <a href="mailto:naringsliv@sesamit.se">naringsliv@sesamit.se</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center row-bottom-buffer">
            <div class="col-md-12">

                <h1>
                    Just nu samarbetar vi med
                </h1>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-body ">
                <div class="row foretag-row text-center ">
                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <a href="http://www.lrfkonsult.se/" class="btn" target="_blank">
                            <img class="img-responsive img-rounded" src="../Images/foretag/lrfkonsult.gif" />
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <a href="http://www.unionen.se/" class="btn " target="_blank">
                            <img class="img-responsive img-rounded" src="../Images/foretag/unionen.jpg" />
                        </a>
                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <a href="http://www.pwc.se/" class="btn" target="_blank">
                            <img class="img-responsive img-rounded" src="../Images/foretag/Pwc.gif" />
                        </a>

                    </div>

                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <a href="http://www.civilekonomerna.se/" class="btn" target="_blank">
                            <img class="img-responsive img-rounded" src="../Images/foretag/civilekonomerna.gif" />
                        </a>
                    </div>
                </div>
                <div class="row foretag-row text-center ">
                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <a href="https://www.upsales.com/" class="btn" target="_blank">
                            <img class="img-responsive img-rounded" src="../Images/foretag/upsales_logo_blue.png" />
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <a href="https://home.kpmg.com/se/sv/home.html" class="btn " target="_blank">
                            <img class="img-responsive img-rounded" src="../Images/foretag/KPMG.gif" />
                        </a>
                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <a href="http://www.grantthornton.se/" class="btn" target="_blank">
                            <img class="img-responsive img-rounded" src="../Images/foretag/GrandThornton.gif" />
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <a href="http://kommuninvest.se/" class="btn" target="_blank">
                            <img class="img-responsive img-rounded" src="../Images/foretag/KI_V3_RGB_sve_text.jpg" />
                        </a>
                    </div>
                </div>
                <div class="row foretag-row text-center ">
                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <a href="https://www.lansforsakringar.se/privat/" class="btn" target="_blank">
                            <img class="img-responsive img-rounded" src="../Images/foretag/LF-logo.jpg" />
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <a href="http://www.ikea.com/se/sv/" class="btn " target="_blank">
                            <img class="img-responsive img-rounded" src="../Images/foretag/2000px-Ikea_logo.svg.png" />
                        </a>
                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <a href="http://www.ica.se/butiker/nara/orebro/ica-supermarket-tybble-1074/butikserbjudanden/" target="_blank" class="btn">
                            <img class="img-responsive img-rounded" src="../Images/foretag/ica_logo-390x238.png" />
                        </a>

                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <a href="http://www.strateg.se/" class="btn" target="_blank">
                            <img class="img-responsive img-rounded" src="../Images/foretag/strateg.png" />
                        </a>
                    </div>
                </div>
                <div class="row text-center foretag-row">
                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <a href="http://seb.se/" class="btn" target="_blank">
                            <img class="img-responsive img-rounded" src="../Images/foretag/SEB.jpg" />
                        </a>
                    </div>

                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <a href="https://www.academicwork.se/" class="btn" target="_blank">

                            <img class="img-responsive img-rounded" src="../Images/foretag/academicwork.png" />
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="scroll-top-wrapper ">
            <span class="scroll-top-inner" title="Gå till toppen av sidan">
                <i class="fa fa-2x fa-arrow-circle-up"></i>
            </span>
        </div>
    </div>
</section>

