@{
    ViewData["Title"] = "Vad är sesam?";
}

<header class="top-page-header">
    <div class="container text-center">
        <i class="fa fa-question" aria-hidden="true"></i>
        <h1>Vad är sesam?</h1>
    </div>
</header>

<div class="section-VadArSesampage">
    <div class="container">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="~/Images/imgs/Kåren_1.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Örebro Studentkår</h3>
                            Sesam är en sektion i Örebro studentkår. Studentkåren för studenternas talan och representerar oss i frågor som rör universitetet och vår utbildning. Bli medlem idag!
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <h3 class="media-heading">Handelshögskolan</h3>
                            Sesam representerar studenter på institutionen Handelshögskolan. Om du läser ekonomi, informatik eller statistik hör du till Handelshögskolan, och därmed sektionen Sesam.
                        </div>
                        <div class="media-right">
                            <a href="#">
                                <img class="media-object" src="~/Images/imgs/775px-Örebro_Universitet.svg.png" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="~/Images/imgs/workers.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Styrelse</h3>
                        Sesam består av en styrelsen som utför arbeten som kommer att vara till nytta för dig som student. Allt från företagskontakter till lärofyllda upplevelser! Styrelsen består av...
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-body">
                        <h3 class="media-heading">Utskott</h3>
                        För att Sesam ska kunna utföra sitt arbete behöver de hjälp av sina Utskott. Utskotten gör allt för att Sesam medlemmar ska få det bättre under studietiden.
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="~/Images/imgs/businessman278.png" alt="...">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="~/Images/sesamLogo-medium.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Kåren</h3>
                        Man brukar dela in kårens arbete i två delar: det utbildningspolitiska, som handlar om att öka kvaliteten på utbildningen, och det studiesociala, som rör allt annat runtom studierna, till exempel boende, ekonomi, nöjen och fritid. Tidigare var kåravgiften obligatorisk för studenter, men numera är det frivillig. Vi arbetar därför ännu hårdare för att det ska löna sig för dig som student att vara medlem, bland annat får du rabatt på alla event som vi anordnar.
                        Sektionerna är den delen av kåren som arbetar närmast studenterna, och vi arbetar främst med tre delar: utbildningsbevakning, studiesociala aktiviteter och kontakter med näringslivet. Vi vill hela tiden förbättra utbildningen som ges på Handelshögskolan, se till att din fritid fylls med roliga aktiviteter och även se till att du redan under studierna får kontakt med företag i din bransch. Utbildningen är mer än böckerna du läser, föreläsningarna du går på och tentorna du skriver. Det är en helhet som vi vill göra så givande som möjligt både för dig som läser just nu, och för de som kommer läsa här efter vi har slutat. Det är vi i sektionerna som är den operativa delen av studentkåren – vi bedriver hela tiden utbildningsbevakning, vi anordnar föreläsningar och event med företag som vill träffa just dig, och vi har fester och sittningar med det där lilla extra när du lagt ifrån dig böckerna för dagen.
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-body">
                        <h3 class="media-heading">S.E.R.O</h3>
                        Större delen av Handelshögskolans studenter är ekonomer, och Sesam är medlem i S.E.R.O – Sveriges Ekonomföreningars Riksorganisation.
                        Det är en paraplyorganisation för ekonomföreningar, med mål att öka ekonomistudenters konkurrenskraft på arbetsmarknaden. Medlemskapet i S.E.R.O möjliggör många intressanta samarbeten, nya kontakter och erfarenhetsutbyten, samt utbildningar och konferenser som även är av intresse för andra ämnen på Handelshögskolan, vilket är viktigt då vi inte enbart representerar ekonomer.
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="~/Images/SEROnu.png" alt="...">
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
