@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bryggan";
}
<header class="top-page-header" id="bryggan-header">
    <div class="container text-center">
        <img src="../Images/bryggan/logga.png"/>

    </div>
</header>
<section>
    <div class="container">
        <h1>Öppettider:</h1>
        <h3>
            Onsdagar 17.00-23.00
            <br />
            Fredagar 19.00-01.00
        </h3>


    </div>

</section>



