@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bryggan";
}
<header class="top-page-header" id="bryggan-header">
    <div class="container text-center">
        <i class="fa fa-beer fa-5x" aria-hidden="true"></i>
        <h1>Välkommen till bryggan</h1>
        @*<h4>Varmt välkommen till Sesam ny student!</h4>*@
        <h4></h4>
    </div>
</header>


